In [1]:
import pandas as pd
#import os
#pd.options.display.max_rows

#read in 39A leave time files
df39As = {}
keyList=[]
for file in os.listdir('Test/leavetimes/'):
    if file.startswith('39A'):
        keyList.append(file)
for key in keyList:
    df39As[key] = pd.read_csv('Test/leavetimes/'+file,names=['dayofservice','tripid','progrnumber','stopid','plannedtime',
                                                         'actual_arr','actual_dep'])

#Check key ring
df39As.keys()

#Let's look at one at a time
df39As['39A_40l']
#Interesting, only got 866003 rows instead of 1220760 rows of all. Seems like a limitation of dictionary values. Let's try 
#something else.

In [3]:
#read in 39A_40l
df39A_40l = pd.read_csv('Test/leavetimes/39A_40l',names=['dayofservice','tripid','progrnumber','stopid','plannedtime',
                                                         'actual_arr','actual_dep'])
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
0,31-MAR-16,2901088,38,1661,60761,60789,60789
1,31-MAR-16,2901088,43,1807,61119,61096,61111
2,31-MAR-16,2901088,48,4464,62066,62137,62155
3,31-MAR-16,2901088,53,1873,62336,62426,62445
4,31-MAR-16,2901088,58,1878,62595,62656,62672
5,31-MAR-16,2901088,63,6109,62759,63007,63007
6,31-MAR-16,2901088,68,7011,62966,63300,63314
7,31-MAR-16,2901088,73,7162,63160,63543,63543
8,31-MAR-16,2901666,11,777,37151,37056,37056
9,31-MAR-16,2901666,16,783,37410,37308,37323
10,31-MAR-16,2901666,20,793,37908,37997,38014
11,31-MAR-16,2901666,25,328,38502,38497,38559
12,31-MAR-16,2901666,30,1648,39006,38968,38968
13,31-MAR-16,2901666,35,1805,39281,39184,39196
14,19-APR-16,3006509,1,767,40200,40406,40406
15,19-APR-16,3006509,2,768,40372,40548,40580
16,19-APR-16,3006509,3,769,40400,40602,40602
17,19-APR-16,3006509,4,770,40450,40633,40633
18,19-APR-16,3006509,6,772,40512,40662,40662
19,19-APR-16,3006509,7,773,40549,40694,40717
20,19-APR-16,3006509,8,774,40593,40752,40752
21,19-APR-16,3006509,9,775,40652,40786,40796
22,19-APR-16,3006509,11,777,40751,40873,40873
23,19-APR-16,3006509,12,779,40804,40909,40919
24,19-APR-16,3006509,13,780,40868,40945,40945
25,19-APR-16,3006509,14,781,40912,40962,40980
26,19-APR-16,3006509,16,783,41010,41147,41170
27,19-APR-16,3006509,17,784,41050,41191,41191
28,19-APR-16,3011981,1,767,76800,76874,76874
29,19-APR-16,3011981,3,769,76985,77034,77034
...,...,...,...,...,...,...,...
1220730,29-MAR-17,4528528,25,328,41422,41833,41871
1220731,29-MAR-17,4528528,30,1648,41925,42437,42461
1220732,29-MAR-17,4528528,35,1805,42198,42739,42779
1220733,29-MAR-17,4528528,40,1664,42573,43221,43252
1220734,29-MAR-17,4534759,66,7029,36644,37171,37171
1220735,29-MAR-17,4534759,71,7047,36781,37430,37430
1220736,29-MAR-17,4521190,3,769,34972,34841,34841
1220737,29-MAR-17,4521190,7,773,35152,34982,34982
1220738,29-MAR-17,4524668,31,1649,33446,33802,33819
1220739,29-MAR-17,4524668,36,1806,33768,34135,34147
1220740,29-MAR-17,4524668,41,1665,34131,34591,34591
1220741,29-MAR-17,4524668,46,7389,34473,34929,34929
1220742,29-MAR-17,4529867,56,1876,33257,33745,33745
1220743,29-MAR-17,4529867,60,1899,33378,34004,34004
1220744,29-MAR-17,4529867,65,7020,33499,34181,34181
1220745,29-MAR-17,4529867,70,7160,33617,34376,34387
1220746,29-MAR-17,4521496,2,768,29569,29567,29599
1220747,29-MAR-17,4521496,7,773,29853,29810,29871
1220748,29-MAR-17,4521496,12,779,30226,30173,30186
1220749,29-MAR-17,4521496,17,784,30536,30509,30523
1220750,29-MAR-17,4521496,24,7588,31398,31319,31328
1220751,29-MAR-17,4526911,33,1913,34210,33988,33988
1220752,29-MAR-17,4526911,38,1661,34544,34189,34189
1220753,29-MAR-17,4526911,43,1807,34830,34457,34457
1220754,29-MAR-17,4526911,48,4464,35385,35033,35033
1220755,29-MAR-17,4526911,53,1873,35558,35293,35293
1220756,29-MAR-17,4526911,58,1878,35727,35436,35436
1220757,29-MAR-17,4526911,63,6109,35832,35665,35665
1220758,29-MAR-17,4526911,68,7011,35964,35886,35897
1220759,29-MAR-17,4526911,73,7162,36089,36077,36077

In [4]:
df39A_40l.dtypes

dayofservice    object
tripid           int64
progrnumber      int64
stopid           int64
plannedtime      int64
actual_arr       int64
actual_dep       int64
dtype: object

In [5]:
df39A_40l.dayofservice = df39A_40l.dayofservice.astype('datetime64[ns]')
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
0,2016-03-31,2901088,38,1661,60761,60789,60789
1,2016-03-31,2901088,43,1807,61119,61096,61111
2,2016-03-31,2901088,48,4464,62066,62137,62155
3,2016-03-31,2901088,53,1873,62336,62426,62445
4,2016-03-31,2901088,58,1878,62595,62656,62672
5,2016-03-31,2901088,63,6109,62759,63007,63007
6,2016-03-31,2901088,68,7011,62966,63300,63314
7,2016-03-31,2901088,73,7162,63160,63543,63543
8,2016-03-31,2901666,11,777,37151,37056,37056
9,2016-03-31,2901666,16,783,37410,37308,37323
10,2016-03-31,2901666,20,793,37908,37997,38014
11,2016-03-31,2901666,25,328,38502,38497,38559
12,2016-03-31,2901666,30,1648,39006,38968,38968
13,2016-03-31,2901666,35,1805,39281,39184,39196
14,2016-04-19,3006509,1,767,40200,40406,40406
15,2016-04-19,3006509,2,768,40372,40548,40580
16,2016-04-19,3006509,3,769,40400,40602,40602
17,2016-04-19,3006509,4,770,40450,40633,40633
18,2016-04-19,3006509,6,772,40512,40662,40662
19,2016-04-19,3006509,7,773,40549,40694,40717
20,2016-04-19,3006509,8,774,40593,40752,40752
21,2016-04-19,3006509,9,775,40652,40786,40796
22,2016-04-19,3006509,11,777,40751,40873,40873
23,2016-04-19,3006509,12,779,40804,40909,40919
24,2016-04-19,3006509,13,780,40868,40945,40945
25,2016-04-19,3006509,14,781,40912,40962,40980
26,2016-04-19,3006509,16,783,41010,41147,41170
27,2016-04-19,3006509,17,784,41050,41191,41191
28,2016-04-19,3011981,1,767,76800,76874,76874
29,2016-04-19,3011981,3,769,76985,77034,77034
...,...,...,...,...,...,...,...
1220730,2017-03-29,4528528,25,328,41422,41833,41871
1220731,2017-03-29,4528528,30,1648,41925,42437,42461
1220732,2017-03-29,4528528,35,1805,42198,42739,42779
1220733,2017-03-29,4528528,40,1664,42573,43221,43252
1220734,2017-03-29,4534759,66,7029,36644,37171,37171
1220735,2017-03-29,4534759,71,7047,36781,37430,37430
1220736,2017-03-29,4521190,3,769,34972,34841,34841
1220737,2017-03-29,4521190,7,773,35152,34982,34982
1220738,2017-03-29,4524668,31,1649,33446,33802,33819
1220739,2017-03-29,4524668,36,1806,33768,34135,34147
1220740,2017-03-29,4524668,41,1665,34131,34591,34591
1220741,2017-03-29,4524668,46,7389,34473,34929,34929
1220742,2017-03-29,4529867,56,1876,33257,33745,33745
1220743,2017-03-29,4529867,60,1899,33378,34004,34004
1220744,2017-03-29,4529867,65,7020,33499,34181,34181
1220745,2017-03-29,4529867,70,7160,33617,34376,34387
1220746,2017-03-29,4521496,2,768,29569,29567,29599
1220747,2017-03-29,4521496,7,773,29853,29810,29871
1220748,2017-03-29,4521496,12,779,30226,30173,30186
1220749,2017-03-29,4521496,17,784,30536,30509,30523
1220750,2017-03-29,4521496,24,7588,31398,31319,31328
1220751,2017-03-29,4526911,33,1913,34210,33988,33988
1220752,2017-03-29,4526911,38,1661,34544,34189,34189
1220753,2017-03-29,4526911,43,1807,34830,34457,34457
1220754,2017-03-29,4526911,48,4464,35385,35033,35033
1220755,2017-03-29,4526911,53,1873,35558,35293,35293
1220756,2017-03-29,4526911,58,1878,35727,35436,35436
1220757,2017-03-29,4526911,63,6109,35832,35665,35665
1220758,2017-03-29,4526911,68,7011,35964,35886,35897
1220759,2017-03-29,4526911,73,7162,36089,36077,36077

In [7]:
df39A_40l = df39A_40l.sort_values(['dayofservice','tripid','progrnumber'])
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
667725,2016-01-09,2784393,1,767,73800,73722,73722
668086,2016-01-09,2784393,2,768,73925,73796,73815
291530,2016-01-09,2784393,3,769,73950,73839,73839
668453,2016-01-09,2784393,4,770,73992,73876,73876
668703,2016-01-09,2784393,5,771,74009,73883,73883
668760,2016-01-09,2784393,6,772,74044,73950,73950
669062,2016-01-09,2784393,7,773,74077,73986,73986
669388,2016-01-09,2784393,8,774,74116,74007,74007
669445,2016-01-09,2784393,9,775,74170,74044,74058
669783,2016-01-09,2784393,10,776,74209,74092,74092
670082,2016-01-09,2784393,11,777,74251,74111,74147
670139,2016-01-09,2784393,12,779,74303,74180,74180
670470,2016-01-09,2784393,13,780,74350,74200,74200
670769,2016-01-09,2784393,14,781,74383,74213,74213
670826,2016-01-09,2784393,15,782,74412,74252,74252
281660,2016-01-09,2784393,16,783,74455,74278,74278
282187,2016-01-09,2784393,17,784,74486,74291,74291
291286,2016-01-09,2784393,18,785,74538,74323,74323
282465,2016-01-09,2784393,19,786,74686,74375,74375
666337,2016-01-09,2784393,20,793,74947,74543,74543
666394,2016-01-09,2784393,21,7576,74985,74587,74587
666812,2016-01-09,2784393,22,7586,75125,74643,74643
667264,2016-01-09,2784393,23,7587,75296,74711,74724
667321,2016-01-09,2784393,24,7588,75364,74765,74765
667810,2016-01-09,2784393,25,328,75610,74998,75072
668170,2016-01-09,2784393,26,1443,75737,75185,75227
668227,2016-01-09,2784393,27,1444,75796,75270,75270
668540,2016-01-09,2784393,28,1445,75861,75303,75318
668788,2016-01-09,2784393,29,1647,75970,75410,75410
668845,2016-01-09,2784393,30,1648,76039,75455,75470
...,...,...,...,...,...,...,...
1133936,2017-06-30,5117250,44,7167,77585,77271,77271
1135743,2017-06-30,5117250,45,1808,77648,77319,77330
1137315,2017-06-30,5117250,46,7389,77831,77470,77486
889978,2017-06-30,5117250,47,7025,78110,77680,77778
1139018,2017-06-30,5117250,48,4464,78186,77859,77871
1139096,2017-06-30,5117250,49,1869,78220,77909,77918
1139414,2017-06-30,5117250,50,1870,78263,77940,77940
1139737,2017-06-30,5117250,51,1871,78316,78014,78024
1140059,2017-06-30,5117250,52,1872,78371,78057,78068
1140625,2017-06-30,5117250,53,1873,78433,78113,78126
1141051,2017-06-30,5117250,54,1874,78489,78156,78171
1141491,2017-06-30,5117250,55,1875,78536,78197,78207
1141879,2017-06-30,5117250,56,1876,78583,78239,78256
1143144,2017-06-30,5117250,57,1877,78652,78294,78304
1127789,2017-06-30,5117250,58,1878,78673,78342,78351
1129588,2017-06-30,5117250,59,1879,78696,78412,78412
889979,2017-06-30,5117250,60,1899,78720,78456,78488
1131457,2017-06-30,5117250,61,6107,78732,78603,78617
1134047,2017-06-30,5117250,62,6108,78749,78644,78644
1135857,2017-06-30,5117250,63,6109,78769,78687,78687
1137507,2017-06-30,5117250,64,6110,78802,78745,78745
1138807,2017-06-30,5117250,65,7020,78831,78792,78803
889980,2017-06-30,5117250,66,7029,78842,78829,78841
1139452,2017-06-30,5117250,67,7038,78862,78882,78899
1139771,2017-06-30,5117250,68,7011,78890,78956,78967
1140094,2017-06-30,5117250,69,2171,78931,79040,79048
889981,2017-06-30,5117250,70,7160,78939,79067,79067
1140726,2017-06-30,5117250,71,7047,78968,79120,79129
1141154,2017-06-30,5117250,72,7161,78987,79165,79174
1141594,2017-06-30,5117250,73,7162,79008,79204,79204

In [8]:
df39A_40l.dayofservice[0]

Timestamp('2016-03-31 00:00:00')

In [9]:
df39A_40l.plannedtime[0]
#is 16.8 hours

60761

#In order to match with other time easily, change plannedtime, actual_arr, actual_dep to timestamp
#df['EndDate'] = pd.to_datetime(df['StartDate']) + pd.to_timedelta(df['duration'], unit='s')
print(df39A_40l.dayofservice[0]+pd.to_timedelta(df39A_40l.plannedtime[0],unit='s'))

#Consider this is more than one line, and will be used later, I wrote an function for it.
def changeToDatetime(df):
    '''A function that change plannedtime, actual_arr and actual_dep to datetime.'''
    df.plannedtime = df.dayofservice + pd.to_timedelta(df.plannedtime,unit='s')
    df.actual_arr = df.dayofservice + pd.to_timedelta(df.actual_arr,unit='s')
    df.actual_dep = df.dayofservice + pd.to_timedelta(df.actual_dep,unit='s')

changeToDatetime(df39A_40l)

In [12]:
#Why I want to change all the seconds to datetime format? Does that really make sense? How about create a dt for actuall_arr?
df39A_40l['datetime'] = df39A_40l.dayofservice + pd.to_timedelta(df39A_40l.actual_arr,unit='s')
#based on actual_arr
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,datetime
667725,2016-01-09,2784393,1,767,73800,73722,73722,2016-01-09 20:28:42
668086,2016-01-09,2784393,2,768,73925,73796,73815,2016-01-09 20:29:56
291530,2016-01-09,2784393,3,769,73950,73839,73839,2016-01-09 20:30:39
668453,2016-01-09,2784393,4,770,73992,73876,73876,2016-01-09 20:31:16
668703,2016-01-09,2784393,5,771,74009,73883,73883,2016-01-09 20:31:23
668760,2016-01-09,2784393,6,772,74044,73950,73950,2016-01-09 20:32:30
669062,2016-01-09,2784393,7,773,74077,73986,73986,2016-01-09 20:33:06
669388,2016-01-09,2784393,8,774,74116,74007,74007,2016-01-09 20:33:27
669445,2016-01-09,2784393,9,775,74170,74044,74058,2016-01-09 20:34:04
669783,2016-01-09,2784393,10,776,74209,74092,74092,2016-01-09 20:34:52
670082,2016-01-09,2784393,11,777,74251,74111,74147,2016-01-09 20:35:11
670139,2016-01-09,2784393,12,779,74303,74180,74180,2016-01-09 20:36:20
670470,2016-01-09,2784393,13,780,74350,74200,74200,2016-01-09 20:36:40
670769,2016-01-09,2784393,14,781,74383,74213,74213,2016-01-09 20:36:53
670826,2016-01-09,2784393,15,782,74412,74252,74252,2016-01-09 20:37:32
281660,2016-01-09,2784393,16,783,74455,74278,74278,2016-01-09 20:37:58
282187,2016-01-09,2784393,17,784,74486,74291,74291,2016-01-09 20:38:11
291286,2016-01-09,2784393,18,785,74538,74323,74323,2016-01-09 20:38:43
282465,2016-01-09,2784393,19,786,74686,74375,74375,2016-01-09 20:39:35
666337,2016-01-09,2784393,20,793,74947,74543,74543,2016-01-09 20:42:23
666394,2016-01-09,2784393,21,7576,74985,74587,74587,2016-01-09 20:43:07
666812,2016-01-09,2784393,22,7586,75125,74643,74643,2016-01-09 20:44:03
667264,2016-01-09,2784393,23,7587,75296,74711,74724,2016-01-09 20:45:11
667321,2016-01-09,2784393,24,7588,75364,74765,74765,2016-01-09 20:46:05
667810,2016-01-09,2784393,25,328,75610,74998,75072,2016-01-09 20:49:58
668170,2016-01-09,2784393,26,1443,75737,75185,75227,2016-01-09 20:53:05
668227,2016-01-09,2784393,27,1444,75796,75270,75270,2016-01-09 20:54:30
668540,2016-01-09,2784393,28,1445,75861,75303,75318,2016-01-09 20:55:03
668788,2016-01-09,2784393,29,1647,75970,75410,75410,2016-01-09 20:56:50
668845,2016-01-09,2784393,30,1648,76039,75455,75470,2016-01-09 20:57:35
...,...,...,...,...,...,...,...,...
1133936,2017-06-30,5117250,44,7167,77585,77271,77271,2017-06-30 21:27:51
1135743,2017-06-30,5117250,45,1808,77648,77319,77330,2017-06-30 21:28:39
1137315,2017-06-30,5117250,46,7389,77831,77470,77486,2017-06-30 21:31:10
889978,2017-06-30,5117250,47,7025,78110,77680,77778,2017-06-30 21:34:40
1139018,2017-06-30,5117250,48,4464,78186,77859,77871,2017-06-30 21:37:39
1139096,2017-06-30,5117250,49,1869,78220,77909,77918,2017-06-30 21:38:29
1139414,2017-06-30,5117250,50,1870,78263,77940,77940,2017-06-30 21:39:00
1139737,2017-06-30,5117250,51,1871,78316,78014,78024,2017-06-30 21:40:14
1140059,2017-06-30,5117250,52,1872,78371,78057,78068,2017-06-30 21:40:57
1140625,2017-06-30,5117250,53,1873,78433,78113,78126,2017-06-30 21:41:53
1141051,2017-06-30,5117250,54,1874,78489,78156,78171,2017-06-30 21:42:36
1141491,2017-06-30,5117250,55,1875,78536,78197,78207,2017-06-30 21:43:17
1141879,2017-06-30,5117250,56,1876,78583,78239,78256,2017-06-30 21:43:59
1143144,2017-06-30,5117250,57,1877,78652,78294,78304,2017-06-30 21:44:54
1127789,2017-06-30,5117250,58,1878,78673,78342,78351,2017-06-30 21:45:42
1129588,2017-06-30,5117250,59,1879,78696,78412,78412,2017-06-30 21:46:52
889979,2017-06-30,5117250,60,1899,78720,78456,78488,2017-06-30 21:47:36
1131457,2017-06-30,5117250,61,6107,78732,78603,78617,2017-06-30 21:50:03
1134047,2017-06-30,5117250,62,6108,78749,78644,78644,2017-06-30 21:50:44
1135857,2017-06-30,5117250,63,6109,78769,78687,78687,2017-06-30 21:51:27
1137507,2017-06-30,5117250,64,6110,78802,78745,78745,2017-06-30 21:52:25
1138807,2017-06-30,5117250,65,7020,78831,78792,78803,2017-06-30 21:53:12
889980,2017-06-30,5117250,66,7029,78842,78829,78841,2017-06-30 21:53:49
1139452,2017-06-30,5117250,67,7038,78862,78882,78899,2017-06-30 21:54:42
1139771,2017-06-30,5117250,68,7011,78890,78956,78967,2017-06-30 21:55:56
1140094,2017-06-30,5117250,69,2171,78931,79040,79048,2017-06-30 21:57:20
889981,2017-06-30,5117250,70,7160,78939,79067,79067,2017-06-30 21:57:47
1140726,2017-06-30,5117250,71,7047,78968,79120,79129,2017-06-30 21:58:40
1141154,2017-06-30,5117250,72,7161,78987,79165,79174,2017-06-30 21:59:25
1141594,2017-06-30,5117250,73,7162,79008,79204,79204,2017-06-30 22:00:04

In [15]:
#Extract time info from time columns: month, weekday
#df['YearMonth'] = df['ArrivalDate'].map(lambda x: 100*x.year + x.month)
df39A_40l['month'] = df39A_40l.dayofservice.map(lambda x: x.month)
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,datetime,month
667725,2016-01-09,2784393,1,767,73800,73722,73722,2016-01-09 20:28:42,1
668086,2016-01-09,2784393,2,768,73925,73796,73815,2016-01-09 20:29:56,1
291530,2016-01-09,2784393,3,769,73950,73839,73839,2016-01-09 20:30:39,1
668453,2016-01-09,2784393,4,770,73992,73876,73876,2016-01-09 20:31:16,1
668703,2016-01-09,2784393,5,771,74009,73883,73883,2016-01-09 20:31:23,1
668760,2016-01-09,2784393,6,772,74044,73950,73950,2016-01-09 20:32:30,1
669062,2016-01-09,2784393,7,773,74077,73986,73986,2016-01-09 20:33:06,1
669388,2016-01-09,2784393,8,774,74116,74007,74007,2016-01-09 20:33:27,1
669445,2016-01-09,2784393,9,775,74170,74044,74058,2016-01-09 20:34:04,1
669783,2016-01-09,2784393,10,776,74209,74092,74092,2016-01-09 20:34:52,1
670082,2016-01-09,2784393,11,777,74251,74111,74147,2016-01-09 20:35:11,1
670139,2016-01-09,2784393,12,779,74303,74180,74180,2016-01-09 20:36:20,1
670470,2016-01-09,2784393,13,780,74350,74200,74200,2016-01-09 20:36:40,1
670769,2016-01-09,2784393,14,781,74383,74213,74213,2016-01-09 20:36:53,1
670826,2016-01-09,2784393,15,782,74412,74252,74252,2016-01-09 20:37:32,1
281660,2016-01-09,2784393,16,783,74455,74278,74278,2016-01-09 20:37:58,1
282187,2016-01-09,2784393,17,784,74486,74291,74291,2016-01-09 20:38:11,1
291286,2016-01-09,2784393,18,785,74538,74323,74323,2016-01-09 20:38:43,1
282465,2016-01-09,2784393,19,786,74686,74375,74375,2016-01-09 20:39:35,1
666337,2016-01-09,2784393,20,793,74947,74543,74543,2016-01-09 20:42:23,1
666394,2016-01-09,2784393,21,7576,74985,74587,74587,2016-01-09 20:43:07,1
666812,2016-01-09,2784393,22,7586,75125,74643,74643,2016-01-09 20:44:03,1
667264,2016-01-09,2784393,23,7587,75296,74711,74724,2016-01-09 20:45:11,1
667321,2016-01-09,2784393,24,7588,75364,74765,74765,2016-01-09 20:46:05,1
667810,2016-01-09,2784393,25,328,75610,74998,75072,2016-01-09 20:49:58,1
668170,2016-01-09,2784393,26,1443,75737,75185,75227,2016-01-09 20:53:05,1
668227,2016-01-09,2784393,27,1444,75796,75270,75270,2016-01-09 20:54:30,1
668540,2016-01-09,2784393,28,1445,75861,75303,75318,2016-01-09 20:55:03,1
668788,2016-01-09,2784393,29,1647,75970,75410,75410,2016-01-09 20:56:50,1
668845,2016-01-09,2784393,30,1648,76039,75455,75470,2016-01-09 20:57:35,1
...,...,...,...,...,...,...,...,...,...
1133936,2017-06-30,5117250,44,7167,77585,77271,77271,2017-06-30 21:27:51,6
1135743,2017-06-30,5117250,45,1808,77648,77319,77330,2017-06-30 21:28:39,6
1137315,2017-06-30,5117250,46,7389,77831,77470,77486,2017-06-30 21:31:10,6
889978,2017-06-30,5117250,47,7025,78110,77680,77778,2017-06-30 21:34:40,6
1139018,2017-06-30,5117250,48,4464,78186,77859,77871,2017-06-30 21:37:39,6
1139096,2017-06-30,5117250,49,1869,78220,77909,77918,2017-06-30 21:38:29,6
1139414,2017-06-30,5117250,50,1870,78263,77940,77940,2017-06-30 21:39:00,6
1139737,2017-06-30,5117250,51,1871,78316,78014,78024,2017-06-30 21:40:14,6
1140059,2017-06-30,5117250,52,1872,78371,78057,78068,2017-06-30 21:40:57,6
1140625,2017-06-30,5117250,53,1873,78433,78113,78126,2017-06-30 21:41:53,6
1141051,2017-06-30,5117250,54,1874,78489,78156,78171,2017-06-30 21:42:36,6
1141491,2017-06-30,5117250,55,1875,78536,78197,78207,2017-06-30 21:43:17,6
1141879,2017-06-30,5117250,56,1876,78583,78239,78256,2017-06-30 21:43:59,6
1143144,2017-06-30,5117250,57,1877,78652,78294,78304,2017-06-30 21:44:54,6
1127789,2017-06-30,5117250,58,1878,78673,78342,78351,2017-06-30 21:45:42,6
1129588,2017-06-30,5117250,59,1879,78696,78412,78412,2017-06-30 21:46:52,6
889979,2017-06-30,5117250,60,1899,78720,78456,78488,2017-06-30 21:47:36,6
1131457,2017-06-30,5117250,61,6107,78732,78603,78617,2017-06-30 21:50:03,6
1134047,2017-06-30,5117250,62,6108,78749,78644,78644,2017-06-30 21:50:44,6
1135857,2017-06-30,5117250,63,6109,78769,78687,78687,2017-06-30 21:51:27,6
1137507,2017-06-30,5117250,64,6110,78802,78745,78745,2017-06-30 21:52:25,6
1138807,2017-06-30,5117250,65,7020,78831,78792,78803,2017-06-30 21:53:12,6
889980,2017-06-30,5117250,66,7029,78842,78829,78841,2017-06-30 21:53:49,6
1139452,2017-06-30,5117250,67,7038,78862,78882,78899,2017-06-30 21:54:42,6
1139771,2017-06-30,5117250,68,7011,78890,78956,78967,2017-06-30 21:55:56,6
1140094,2017-06-30,5117250,69,2171,78931,79040,79048,2017-06-30 21:57:20,6
889981,2017-06-30,5117250,70,7160,78939,79067,79067,2017-06-30 21:57:47,6
1140726,2017-06-30,5117250,71,7047,78968,79120,79129,2017-06-30 21:58:40,6
1141154,2017-06-30,5117250,72,7161,78987,79165,79174,2017-06-30 21:59:25,6
1141594,2017-06-30,5117250,73,7162,79008,79204,79204,2017-06-30 22:00:04,6

In [16]:
#df['weekday'] = df['Timestamp'].dt.dayofweek 
# 0-6 Mon-Sun
df39A_40l['weekday'] = df39A_40l.dayofservice.dt.dayofweek
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,datetime,month,weekday
667725,2016-01-09,2784393,1,767,73800,73722,73722,2016-01-09 20:28:42,1,5
668086,2016-01-09,2784393,2,768,73925,73796,73815,2016-01-09 20:29:56,1,5
291530,2016-01-09,2784393,3,769,73950,73839,73839,2016-01-09 20:30:39,1,5
668453,2016-01-09,2784393,4,770,73992,73876,73876,2016-01-09 20:31:16,1,5
668703,2016-01-09,2784393,5,771,74009,73883,73883,2016-01-09 20:31:23,1,5
668760,2016-01-09,2784393,6,772,74044,73950,73950,2016-01-09 20:32:30,1,5
669062,2016-01-09,2784393,7,773,74077,73986,73986,2016-01-09 20:33:06,1,5
669388,2016-01-09,2784393,8,774,74116,74007,74007,2016-01-09 20:33:27,1,5
669445,2016-01-09,2784393,9,775,74170,74044,74058,2016-01-09 20:34:04,1,5
669783,2016-01-09,2784393,10,776,74209,74092,74092,2016-01-09 20:34:52,1,5
670082,2016-01-09,2784393,11,777,74251,74111,74147,2016-01-09 20:35:11,1,5
670139,2016-01-09,2784393,12,779,74303,74180,74180,2016-01-09 20:36:20,1,5
670470,2016-01-09,2784393,13,780,74350,74200,74200,2016-01-09 20:36:40,1,5
670769,2016-01-09,2784393,14,781,74383,74213,74213,2016-01-09 20:36:53,1,5
670826,2016-01-09,2784393,15,782,74412,74252,74252,2016-01-09 20:37:32,1,5
281660,2016-01-09,2784393,16,783,74455,74278,74278,2016-01-09 20:37:58,1,5
282187,2016-01-09,2784393,17,784,74486,74291,74291,2016-01-09 20:38:11,1,5
291286,2016-01-09,2784393,18,785,74538,74323,74323,2016-01-09 20:38:43,1,5
282465,2016-01-09,2784393,19,786,74686,74375,74375,2016-01-09 20:39:35,1,5
666337,2016-01-09,2784393,20,793,74947,74543,74543,2016-01-09 20:42:23,1,5
666394,2016-01-09,2784393,21,7576,74985,74587,74587,2016-01-09 20:43:07,1,5
666812,2016-01-09,2784393,22,7586,75125,74643,74643,2016-01-09 20:44:03,1,5
667264,2016-01-09,2784393,23,7587,75296,74711,74724,2016-01-09 20:45:11,1,5
667321,2016-01-09,2784393,24,7588,75364,74765,74765,2016-01-09 20:46:05,1,5
667810,2016-01-09,2784393,25,328,75610,74998,75072,2016-01-09 20:49:58,1,5
668170,2016-01-09,2784393,26,1443,75737,75185,75227,2016-01-09 20:53:05,1,5
668227,2016-01-09,2784393,27,1444,75796,75270,75270,2016-01-09 20:54:30,1,5
668540,2016-01-09,2784393,28,1445,75861,75303,75318,2016-01-09 20:55:03,1,5
668788,2016-01-09,2784393,29,1647,75970,75410,75410,2016-01-09 20:56:50,1,5
668845,2016-01-09,2784393,30,1648,76039,75455,75470,2016-01-09 20:57:35,1,5
...,...,...,...,...,...,...,...,...,...,...
1133936,2017-06-30,5117250,44,7167,77585,77271,77271,2017-06-30 21:27:51,6,4
1135743,2017-06-30,5117250,45,1808,77648,77319,77330,2017-06-30 21:28:39,6,4
1137315,2017-06-30,5117250,46,7389,77831,77470,77486,2017-06-30 21:31:10,6,4
889978,2017-06-30,5117250,47,7025,78110,77680,77778,2017-06-30 21:34:40,6,4
1139018,2017-06-30,5117250,48,4464,78186,77859,77871,2017-06-30 21:37:39,6,4
1139096,2017-06-30,5117250,49,1869,78220,77909,77918,2017-06-30 21:38:29,6,4
1139414,2017-06-30,5117250,50,1870,78263,77940,77940,2017-06-30 21:39:00,6,4
1139737,2017-06-30,5117250,51,1871,78316,78014,78024,2017-06-30 21:40:14,6,4
1140059,2017-06-30,5117250,52,1872,78371,78057,78068,2017-06-30 21:40:57,6,4
1140625,2017-06-30,5117250,53,1873,78433,78113,78126,2017-06-30 21:41:53,6,4
1141051,2017-06-30,5117250,54,1874,78489,78156,78171,2017-06-30 21:42:36,6,4
1141491,2017-06-30,5117250,55,1875,78536,78197,78207,2017-06-30 21:43:17,6,4
1141879,2017-06-30,5117250,56,1876,78583,78239,78256,2017-06-30 21:43:59,6,4
1143144,2017-06-30,5117250,57,1877,78652,78294,78304,2017-06-30 21:44:54,6,4
1127789,2017-06-30,5117250,58,1878,78673,78342,78351,2017-06-30 21:45:42,6,4
1129588,2017-06-30,5117250,59,1879,78696,78412,78412,2017-06-30 21:46:52,6,4
889979,2017-06-30,5117250,60,1899,78720,78456,78488,2017-06-30 21:47:36,6,4
1131457,2017-06-30,5117250,61,6107,78732,78603,78617,2017-06-30 21:50:03,6,4
1134047,2017-06-30,5117250,62,6108,78749,78644,78644,2017-06-30 21:50:44,6,4
1135857,2017-06-30,5117250,63,6109,78769,78687,78687,2017-06-30 21:51:27,6,4
1137507,2017-06-30,5117250,64,6110,78802,78745,78745,2017-06-30 21:52:25,6,4
1138807,2017-06-30,5117250,65,7020,78831,78792,78803,2017-06-30 21:53:12,6,4
889980,2017-06-30,5117250,66,7029,78842,78829,78841,2017-06-30 21:53:49,6,4
1139452,2017-06-30,5117250,67,7038,78862,78882,78899,2017-06-30 21:54:42,6,4
1139771,2017-06-30,5117250,68,7011,78890,78956,78967,2017-06-30 21:55:56,6,4
1140094,2017-06-30,5117250,69,2171,78931,79040,79048,2017-06-30 21:57:20,6,4
889981,2017-06-30,5117250,70,7160,78939,79067,79067,2017-06-30 21:57:47,6,4
1140726,2017-06-30,5117250,71,7047,78968,79120,79129,2017-06-30 21:58:40,6,4
1141154,2017-06-30,5117250,72,7161,78987,79165,79174,2017-06-30 21:59:25,6,4
1141594,2017-06-30,5117250,73,7162,79008,79204,79204,2017-06-30 22:00:04,6,4

#extract time table for each stops
#First check if the planned time is the same everyday.
mask = (df39A_40l['dayofservice'] >= '2016-01-09') & (df39A_40l['dayofservice'] <= '2016-01-10')
df39A_40l.loc[mask].sort_values(['stopid','plannedtime'])

mask = (df39A_40l['dayofservice'] >= '2016-01-12') & (df39A_40l['dayofservice'] <= '2016-01-20')
df39A_40l.loc[mask].sort_values(['stopid','plannedtime'])

In [17]:
df39A_40l.sort_values(['stopid','plannedtime'])

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,datetime,month,weekday
510882,2016-06-25,3260613,25,328,24402,24574,24602,2016-06-25 06:49:34,6,5
878167,2017-03-04,4391252,25,328,24440,24554,24604,2017-03-04 06:49:14,3,5
1149366,2017-03-11,4391252,25,328,24440,24494,24568,2017-03-11 06:48:14,3,5
1039918,2017-03-18,4391252,25,328,24440,24617,24679,2017-03-18 06:50:17,3,5
884326,2017-04-08,4532523,25,328,24449,24413,24445,2017-04-08 06:46:53,4,5
859345,2017-04-15,4580369,25,328,24449,24493,24532,2017-04-15 06:48:13,4,5
401633,2016-05-28,3038497,25,328,24464,24408,24440,2016-05-28 06:46:48,5,5
1016075,2017-06-10,5015335,25,328,24480,24632,24769,2017-06-10 06:50:32,6,5
891135,2017-06-17,5015335,25,328,24480,24662,24742,2017-06-17 06:51:02,6,5
667802,2016-01-09,2784478,25,328,24496,24510,24564,2016-01-09 06:48:30,1,5
470059,2016-01-16,2784478,25,328,24496,24418,24446,2016-01-16 06:46:58,1,5
680891,2016-01-23,2784478,25,328,24496,24614,24679,2016-01-23 06:50:14,1,5
421973,2016-01-30,2784478,25,328,24496,24444,24465,2016-01-30 06:47:24,1,5
96482,2016-04-30,3021983,25,328,24498,24557,24679,2016-04-30 06:49:17,4,5
254214,2016-05-07,3021983,25,328,24498,24679,24704,2016-05-07 06:51:19,5,5
201335,2016-05-14,3021983,25,328,24498,24611,24673,2016-05-14 06:50:11,5,5
462265,2016-05-21,3021983,25,328,24498,24618,24757,2016-05-21 06:50:18,5,5
589979,2016-06-04,3205100,25,328,24519,24563,24594,2016-06-04 06:49:23,6,5
366408,2016-06-11,3219830,25,328,24519,24377,24430,2016-06-11 06:46:17,6,5
205274,2016-06-18,3219830,25,328,24519,24494,24525,2016-06-18 06:48:14,6,5
324544,2016-02-06,2824428,25,328,24524,24758,24858,2016-02-06 06:52:38,2,5
485454,2016-02-13,2824428,25,328,24524,24951,25000,2016-02-13 06:55:51,2,5
52746,2016-02-20,2844476,25,328,24524,24571,24677,2016-02-20 06:49:31,2,5
456119,2016-02-27,2867220,25,328,24524,24620,24670,2016-02-27 06:50:20,2,5
653794,2016-03-19,2905400,25,328,24635,24544,24584,2016-03-19 06:49:04,3,5
118427,2016-03-26,2905400,25,328,24635,24538,24599,2016-03-26 06:48:58,3,5
571911,2016-04-02,2905400,25,328,24635,23918,23960,2016-04-02 06:38:38,4,5
327767,2016-04-09,3014638,25,328,24635,24570,24617,2016-04-09 06:49:30,4,5
483823,2016-04-16,3014638,25,328,24635,24394,24430,2016-04-16 06:46:34,4,5
589112,2016-04-23,3014638,25,328,24635,24614,24681,2016-04-23 06:50:14,4,5
...,...,...,...,...,...,...,...,...,...,...
1045524,2017-04-10,4586843,24,7588,84218,83634,83634,2017-04-10 23:13:54,4,0
900818,2017-04-13,4586843,24,7588,84218,83648,83659,2017-04-13 23:14:08,4,3
787344,2017-03-27,4521580,24,7588,84222,83950,83961,2017-03-27 23:19:10,3,0
795889,2017-03-28,4521580,24,7588,84222,83865,83865,2017-03-28 23:17:45,3,1
1205837,2017-03-29,4521580,24,7588,84222,84049,84049,2017-03-29 23:20:49,3,2
1110092,2017-03-31,4521580,24,7588,84222,84176,84193,2017-03-31 23:22:56,3,4
792026,2017-04-03,4521580,24,7588,84222,83808,83815,2017-04-03 23:16:48,4,0
842296,2017-04-04,4521580,24,7588,84222,83700,83710,2017-04-04 23:15:00,4,1
933255,2017-04-05,4521580,24,7588,84222,83629,83642,2017-04-05 23:13:49,4,2
810585,2017-04-06,4521580,24,7588,84222,84183,84197,2017-04-06 23:23:03,4,3
856000,2017-04-07,4521580,24,7588,84222,83948,83970,2017-04-07 23:19:08,4,4
1187650,2017-01-04,4088494,24,7588,84239,83865,83865,2017-01-04 23:17:45,1,2
1198304,2017-01-05,4088494,24,7588,84239,83708,83721,2017-01-05 23:15:08,1,3
922064,2017-01-06,4088494,24,7588,84239,83982,83982,2017-01-06 23:19:42,1,4
968067,2017-01-09,4088494,24,7588,84239,83601,83607,2017-01-09 23:13:21,1,0
1008808,2017-01-10,4088494,24,7588,84239,83753,83753,2017-01-10 23:15:53,1,1
785094,2017-01-13,4088494,24,7588,84239,83954,83968,2017-01-13 23:19:14,1,4
1045171,2017-01-16,4088494,24,7588,84239,83750,83762,2017-01-16 23:15:50,1,0
791366,2017-01-17,4088494,24,7588,84239,84062,84062,2017-01-17 23:21:02,1,1
838594,2017-01-18,4088494,24,7588,84239,84257,84269,2017-01-18 23:24:17,1,2
25166,2016-02-29,2893081,24,7588,84245,83654,83666,2016-02-29 23:14:14,2,0
697854,2016-03-01,2893081,24,7588,84245,83682,83682,2016-03-01 23:14:42,3,1
729912,2016-03-02,2893081,24,7588,84245,83841,83850,2016-03-02 23:17:21,3,2
744625,2016-03-03,2893081,24,7588,84245,83756,83764,2016-03-03 23:15:56,3,3
757033,2016-03-04,2893081,24,7588,84245,84025,84025,2016-03-04 23:20:25,3,4
649901,2016-03-07,2893081,24,7588,84245,83901,83917,2016-03-07 23:18:21,3,0
697083,2016-03-08,2893081,24,7588,84245,83744,83752,2016-03-08 23:15:44,3,1
737185,2016-03-09,2893081,24,7588,84245,84070,84070,2016-03-09 23:21:10,3,2
751724,2016-03-10,2893081,24,7588,84245,84021,84039,2016-03-10 23:20:21,3,3
112613,2016-03-11,2893081,24,7588,84245,83788,83788,2016-03-11 23:16:28,3,4

In [ ]:
# all the

In [ ]:
#Seems like most of the case, the planned time shall be the same, but some bus trip could be suppressed for some reason.

In [53]:
# Join weather info into the frame.
weather = pd.read_csv('CleanedWeather2016_17.csv',index_col=0)
weather

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
73487,01/01/2016 00:00,0,0.0,0,1.2,0,0.7,-0.2,6.0,90.0,1016.2
73488,01/01/2016 01:00,0,0.0,0,1.5,0,0.8,-0.7,5.8,85.0,1016.2
73489,01/01/2016 02:00,0,0.0,0,-0.2,0,-0.6,-1.3,5.6,92.0,1016.4
73490,01/01/2016 03:00,0,0.0,0,-0.7,0,-1.0,-1.4,5.5,95.0,1016.3
73491,01/01/2016 04:00,0,0.0,0,-0.3,0,-0.6,-1.2,5.6,94.0,1016.2
73492,01/01/2016 05:00,0,0.0,0,2.4,0,1.4,-0.3,6.0,82.0,1015.4
73493,01/01/2016 06:00,0,0.0,0,2.9,0,1.9,0.4,6.3,83.0,1014.6
73494,01/01/2016 07:00,0,0.0,0,2.5,0,1.8,0.7,6.4,88.0,1014.0
73495,01/01/2016 08:00,0,0.0,0,4.9,0,3.7,1.9,7.0,80.0,1013.0
73496,01/01/2016 09:00,0,0.0,0,6.3,0,5.0,3.3,7.7,81.0,1011.9
73497,01/01/2016 10:00,0,0.0,0,7.6,0,6.5,5.0,8.7,83.0,1011.0
73498,01/01/2016 11:00,0,0.0,0,7.8,0,6.6,5.1,8.8,83.0,1009.5
73499,01/01/2016 12:00,0,0.0,0,8.1,0,6.9,5.4,9.0,83.0,1007.9
73500,01/01/2016 13:00,0,0.7,0,7.2,0,6.8,6.3,9.6,93.0,1006.1
73501,01/01/2016 14:00,0,0.7,0,7.4,0,7.1,6.7,9.8,95.0,1004.0
73502,01/01/2016 15:00,0,0.5,0,7.8,0,7.5,7.2,10.2,95.0,1002.2
73503,01/01/2016 16:00,0,1.0,0,8.1,0,8.0,7.8,10.6,98.0,1001.2
73504,01/01/2016 17:00,0,1.8,0,8.5,0,8.2,7.9,10.7,96.0,1000.2
73505,01/01/2016 18:00,0,1.1,0,8.5,0,8.4,8.3,11.0,98.0,999.3
73506,01/01/2016 19:00,0,1.2,0,8.6,0,8.4,8.2,10.9,97.0,998.6
73507,01/01/2016 20:00,0,1.8,0,8.4,0,8.0,7.4,10.3,93.0,997.8
73508,01/01/2016 21:00,0,1.2,0,8.5,0,8.2,7.9,10.6,96.0,996.5
73509,01/01/2016 22:00,0,0.8,0,8.5,0,8.3,8.1,10.8,97.0,995.6
73510,01/01/2016 23:00,0,0.4,0,8.4,0,8.2,8.0,10.8,97.0,995.0
73511,02/01/2016 00:00,0,0.8,0,8.2,0,8.2,8.1,10.8,99.0,994.1
73512,02/01/2016 01:00,0,0.2,0,8.8,0,8.2,7.6,10.5,92.0,993.7
73513,02/01/2016 02:00,0,0.1,0,8.7,0,8.4,8.1,10.8,95.0,992.8
73514,02/01/2016 03:00,0,0.4,0,8.8,0,8.6,8.5,11.1,97.0,992.6
73515,02/01/2016 04:00,0,0.2,0,9.2,0,8.8,8.3,10.9,93.0,992.8
73516,02/01/2016 05:00,0,0.0,0,9.4,0,9.1,8.8,11.3,95.0,993.0
...,...,...,...,...,...,...,...,...,...,...,...
91002,30/12/2017 19:00,0,0.0,0,8.3,0,6.4,3.9,8.1,73.0,993.8
91003,30/12/2017 20:00,0,0.0,0,9.3,0,6.7,3.4,7.8,66.0,992.3
91004,30/12/2017 21:00,0,0.0,0,8.6,0,6.5,3.8,8.0,71.0,990.3
91005,30/12/2017 22:00,0,0.1,0,7.7,0,6.9,5.8,9.2,87.0,987.6
91006,30/12/2017 23:00,0,0.2,0,9.0,0,7.6,5.9,9.3,81.0,984.8
91007,31/12/2017 00:00,0,0.0,0,11.0,0,9.5,7.8,10.6,80.0,982.7
91008,31/12/2017 01:00,0,0.0,0,11.8,0,9.8,7.8,10.6,76.0,983.0
91009,31/12/2017 02:00,0,0.0,0,11.2,0,9.1,6.9,9.9,74.0,983.0
91010,31/12/2017 03:00,0,0.0,0,10.6,0,7.2,2.7,7.4,57.0,983.6
91011,31/12/2017 04:00,0,0.0,0,8.9,0,6.3,2.7,7.4,65.0,984.7
91012,31/12/2017 05:00,0,0.1,0,7.8,0,5.6,2.6,7.4,69.0,984.8
91013,31/12/2017 06:00,0,0.0,0,6.9,0,5.1,2.5,7.3,73.0,985.6
91014,31/12/2017 07:00,0,0.0,0,6.7,0,5.0,2.4,7.3,74.0,986.2
91015,31/12/2017 08:00,0,0.0,0,6.9,0,5.0,2.4,7.3,73.0,986.7
91016,31/12/2017 09:00,0,0.0,0,6.4,0,4.6,1.9,7.0,72.0,987.1
91017,31/12/2017 10:00,0,0.0,0,6.9,0,5.0,2.2,7.2,71.0,987.3
91018,31/12/2017 11:00,0,0.0,0,7.8,0,5.6,2.5,7.3,69.0,987.0
91019,31/12/2017 12:00,0,0.0,0,8.1,0,5.9,2.8,7.5,69.0,986.0
91020,31/12/2017 13:00,0,0.0,0,8.4,0,6.3,3.5,7.9,71.0,985.7
91021,31/12/2017 14:00,0,0.0,0,7.8,0,6.2,4.3,8.3,78.0,985.4
91022,31/12/2017 15:00,0,0.1,0,6.0,0,5.0,3.6,7.9,84.0,985.8
91023,31/12/2017 16:00,0,0.4,0,5.0,0,4.1,2.9,7.5,85.0,985.7
91024,31/12/2017 17:00,0,0.0,0,5.2,0,4.3,3.2,7.7,87.0,986.4
91025,31/12/2017 18:00,0,0.0,0,4.7,0,4.1,3.1,7.7,89.0,987.9
91026,31/12/2017 19:00,0,0.0,0,4.5,0,3.8,2.7,7.4,87.0,989.3
91027,31/12/2017 20:00,0,0.0,0,4.2,0,3.2,1.8,7.0,84.0,990.3
91028,31/12/2017 21:00,0,0.0,0,4.6,0,3.4,1.6,6.8,80.0,991.1
91029,31/12/2017 22:00,0,0.1,0,4.3,0,3.1,1.3,6.7,80.0,990.7
91030,31/12/2017 23:00,0,0.0,0,4.2,0,3.0,1.2,6.6,80.0,990.6
91031,01/01/2018 00:00,0,0.0,0,4.6,0,3.5,1.8,6.9,82.0,991.0

In [54]:
#Rename to match column name
#df.rename(index=str, columns={"A": "a", "B": "c"})
weather = weather.rename(index=str,columns={"date":"actual_arr"})

In [56]:
#got an error while merging, change datatype of actual_arr
weather.dtypes
#df39A_40l.dayofservice = df39A_40l.dayofservice.astype('datetime64[ns]')
# format='%d-%b-%y %H:%M:%S')
weather.actual_arr = pd.to_datetime(weather.actual_arr,format='%d/%m/%Y %H:%M')
weather

,actual_arr,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
73487,2016-01-01 00:00:00,0,0.0,0,1.2,0,0.7,-0.2,6.0,90.0,1016.2
73488,2016-01-01 01:00:00,0,0.0,0,1.5,0,0.8,-0.7,5.8,85.0,1016.2
73489,2016-01-01 02:00:00,0,0.0,0,-0.2,0,-0.6,-1.3,5.6,92.0,1016.4
73490,2016-01-01 03:00:00,0,0.0,0,-0.7,0,-1.0,-1.4,5.5,95.0,1016.3
73491,2016-01-01 04:00:00,0,0.0,0,-0.3,0,-0.6,-1.2,5.6,94.0,1016.2
73492,2016-01-01 05:00:00,0,0.0,0,2.4,0,1.4,-0.3,6.0,82.0,1015.4
73493,2016-01-01 06:00:00,0,0.0,0,2.9,0,1.9,0.4,6.3,83.0,1014.6
73494,2016-01-01 07:00:00,0,0.0,0,2.5,0,1.8,0.7,6.4,88.0,1014.0
73495,2016-01-01 08:00:00,0,0.0,0,4.9,0,3.7,1.9,7.0,80.0,1013.0
73496,2016-01-01 09:00:00,0,0.0,0,6.3,0,5.0,3.3,7.7,81.0,1011.9
73497,2016-01-01 10:00:00,0,0.0,0,7.6,0,6.5,5.0,8.7,83.0,1011.0
73498,2016-01-01 11:00:00,0,0.0,0,7.8,0,6.6,5.1,8.8,83.0,1009.5
73499,2016-01-01 12:00:00,0,0.0,0,8.1,0,6.9,5.4,9.0,83.0,1007.9
73500,2016-01-01 13:00:00,0,0.7,0,7.2,0,6.8,6.3,9.6,93.0,1006.1
73501,2016-01-01 14:00:00,0,0.7,0,7.4,0,7.1,6.7,9.8,95.0,1004.0
73502,2016-01-01 15:00:00,0,0.5,0,7.8,0,7.5,7.2,10.2,95.0,1002.2
73503,2016-01-01 16:00:00,0,1.0,0,8.1,0,8.0,7.8,10.6,98.0,1001.2
73504,2016-01-01 17:00:00,0,1.8,0,8.5,0,8.2,7.9,10.7,96.0,1000.2
73505,2016-01-01 18:00:00,0,1.1,0,8.5,0,8.4,8.3,11.0,98.0,999.3
73506,2016-01-01 19:00:00,0,1.2,0,8.6,0,8.4,8.2,10.9,97.0,998.6
73507,2016-01-01 20:00:00,0,1.8,0,8.4,0,8.0,7.4,10.3,93.0,997.8
73508,2016-01-01 21:00:00,0,1.2,0,8.5,0,8.2,7.9,10.6,96.0,996.5
73509,2016-01-01 22:00:00,0,0.8,0,8.5,0,8.3,8.1,10.8,97.0,995.6
73510,2016-01-01 23:00:00,0,0.4,0,8.4,0,8.2,8.0,10.8,97.0,995.0
73511,2016-01-02 00:00:00,0,0.8,0,8.2,0,8.2,8.1,10.8,99.0,994.1
73512,2016-01-02 01:00:00,0,0.2,0,8.8,0,8.2,7.6,10.5,92.0,993.7
73513,2016-01-02 02:00:00,0,0.1,0,8.7,0,8.4,8.1,10.8,95.0,992.8
73514,2016-01-02 03:00:00,0,0.4,0,8.8,0,8.6,8.5,11.1,97.0,992.6
73515,2016-01-02 04:00:00,0,0.2,0,9.2,0,8.8,8.3,10.9,93.0,992.8
73516,2016-01-02 05:00:00,0,0.0,0,9.4,0,9.1,8.8,11.3,95.0,993.0
...,...,...,...,...,...,...,...,...,...,...,...
91002,2017-12-30 19:00:00,0,0.0,0,8.3,0,6.4,3.9,8.1,73.0,993.8
91003,2017-12-30 20:00:00,0,0.0,0,9.3,0,6.7,3.4,7.8,66.0,992.3
91004,2017-12-30 21:00:00,0,0.0,0,8.6,0,6.5,3.8,8.0,71.0,990.3
91005,2017-12-30 22:00:00,0,0.1,0,7.7,0,6.9,5.8,9.2,87.0,987.6
91006,2017-12-30 23:00:00,0,0.2,0,9.0,0,7.6,5.9,9.3,81.0,984.8
91007,2017-12-31 00:00:00,0,0.0,0,11.0,0,9.5,7.8,10.6,80.0,982.7
91008,2017-12-31 01:00:00,0,0.0,0,11.8,0,9.8,7.8,10.6,76.0,983.0
91009,2017-12-31 02:00:00,0,0.0,0,11.2,0,9.1,6.9,9.9,74.0,983.0
91010,2017-12-31 03:00:00,0,0.0,0,10.6,0,7.2,2.7,7.4,57.0,983.6
91011,2017-12-31 04:00:00,0,0.0,0,8.9,0,6.3,2.7,7.4,65.0,984.7
91012,2017-12-31 05:00:00,0,0.1,0,7.8,0,5.6,2.6,7.4,69.0,984.8
91013,2017-12-31 06:00:00,0,0.0,0,6.9,0,5.1,2.5,7.3,73.0,985.6
91014,2017-12-31 07:00:00,0,0.0,0,6.7,0,5.0,2.4,7.3,74.0,986.2
91015,2017-12-31 08:00:00,0,0.0,0,6.9,0,5.0,2.4,7.3,73.0,986.7
91016,2017-12-31 09:00:00,0,0.0,0,6.4,0,4.6,1.9,7.0,72.0,987.1
91017,2017-12-31 10:00:00,0,0.0,0,6.9,0,5.0,2.2,7.2,71.0,987.3
91018,2017-12-31 11:00:00,0,0.0,0,7.8,0,5.6,2.5,7.3,69.0,987.0
91019,2017-12-31 12:00:00,0,0.0,0,8.1,0,5.9,2.8,7.5,69.0,986.0
91020,2017-12-31 13:00:00,0,0.0,0,8.4,0,6.3,3.5,7.9,71.0,985.7
91021,2017-12-31 14:00:00,0,0.0,0,7.8,0,6.2,4.3,8.3,78.0,985.4
91022,2017-12-31 15:00:00,0,0.1,0,6.0,0,5.0,3.6,7.9,84.0,985.8
91023,2017-12-31 16:00:00,0,0.4,0,5.0,0,4.1,2.9,7.5,85.0,985.7
91024,2017-12-31 17:00:00,0,0.0,0,5.2,0,4.3,3.2,7.7,87.0,986.4
91025,2017-12-31 18:00:00,0,0.0,0,4.7,0,4.1,3.1,7.7,89.0,987.9
91026,2017-12-31 19:00:00,0,0.0,0,4.5,0,3.8,2.7,7.4,87.0,989.3
91027,2017-12-31 20:00:00,0,0.0,0,4.2,0,3.2,1.8,7.0,84.0,990.3
91028,2017-12-31 21:00:00,0,0.0,0,4.6,0,3.4,1.6,6.8,80.0,991.1
91029,2017-12-31 22:00:00,0,0.1,0,4.3,0,3.1,1.3,6.7,80.0,990.7
91030,2017-12-31 23:00:00,0,0.0,0,4.2,0,3.0,1.2,6.6,80.0,990.6
91031,2018-01-01 00:00:00,0,0.0,0,4.6,0,3.5,1.8,6.9,82.0,991.0

In [57]:
#ValueError: left keys must be sorted
df39A_40l = df39A_40l.sort_values('actual_arr')
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
667717,2016-01-09,2784478,1,767,2016-01-09 06:30:00,2016-01-09 06:29:51,2016-01-09 06:29:51
667769,2016-01-09,2784478,2,768,2016-01-09 06:32:23,2016-01-09 06:31:26,2016-01-09 06:31:26
668137,2016-01-09,2784478,3,769,2016-01-09 06:32:48,2016-01-09 06:31:45,2016-01-09 06:31:45
668445,2016-01-09,2784478,4,770,2016-01-09 06:33:35,2016-01-09 06:32:15,2016-01-09 06:32:15
668498,2016-01-09,2784478,5,771,2016-01-09 06:33:54,2016-01-09 06:32:24,2016-01-09 06:32:24
668753,2016-01-09,2784478,6,772,2016-01-09 06:34:33,2016-01-09 06:33:05,2016-01-09 06:33:05
669054,2016-01-09,2784478,7,773,2016-01-09 06:34:57,2016-01-09 06:33:27,2016-01-09 06:33:44
669107,2016-01-09,2784478,8,774,2016-01-09 06:35:25,2016-01-09 06:34:03,2016-01-09 06:34:03
669438,2016-01-09,2784478,9,775,2016-01-09 06:36:04,2016-01-09 06:34:33,2016-01-09 06:34:33
669775,2016-01-09,2784478,10,776,2016-01-09 06:36:37,2016-01-09 06:34:55,2016-01-09 06:34:55
669828,2016-01-09,2784478,11,777,2016-01-09 06:36:56,2016-01-09 06:35:13,2016-01-09 06:35:24
291714,2016-01-09,2784478,12,779,2016-01-09 06:37:19,2016-01-09 06:36:01,2016-01-09 06:36:01
670462,2016-01-09,2784478,13,780,2016-01-09 06:37:52,2016-01-09 06:36:20,2016-01-09 06:36:20
670515,2016-01-09,2784478,14,781,2016-01-09 06:38:15,2016-01-09 06:36:38,2016-01-09 06:36:38
670819,2016-01-09,2784478,15,782,2016-01-09 06:38:35,2016-01-09 06:37:10,2016-01-09 06:37:10
281652,2016-01-09,2784478,16,783,2016-01-09 06:39:05,2016-01-09 06:37:32,2016-01-09 06:37:32
292261,2016-01-09,2784478,17,784,2016-01-09 06:39:27,2016-01-09 06:37:47,2016-01-09 06:37:59
282238,2016-01-09,2784478,18,785,2016-01-09 06:40:04,2016-01-09 06:38:33,2016-01-09 06:38:33
282457,2016-01-09,2784478,19,786,2016-01-09 06:41:10,2016-01-09 06:39:25,2016-01-09 06:39:25
282510,2016-01-09,2784478,20,793,2016-01-09 06:43:06,2016-01-09 06:42:01,2016-01-09 06:42:01
666388,2016-01-09,2784478,21,7576,2016-01-09 06:43:22,2016-01-09 06:42:21,2016-01-09 06:42:21
666804,2016-01-09,2784478,22,7586,2016-01-09 06:44:28,2016-01-09 06:43:13,2016-01-09 06:43:13
666855,2016-01-09,2784478,23,7587,2016-01-09 06:45:49,2016-01-09 06:45:07,2016-01-09 06:45:07
667315,2016-01-09,2784478,24,7588,2016-01-09 06:46:21,2016-01-09 06:45:17,2016-01-09 06:45:17
667718,2016-01-09,2784522,1,767,2016-01-09 06:45:00,2016-01-09 06:46:18,2016-01-09 06:46:18
667770,2016-01-09,2784522,2,768,2016-01-09 06:47:23,2016-01-09 06:47:43,2016-01-09 06:47:59
668138,2016-01-09,2784522,3,769,2016-01-09 06:47:48,2016-01-09 06:48:22,2016-01-09 06:48:22
667802,2016-01-09,2784478,25,328,2016-01-09 06:48:16,2016-01-09 06:48:30,2016-01-09 06:49:24
668446,2016-01-09,2784522,4,770,2016-01-09 06:48:35,2016-01-09 06:48:55,2016-01-09 06:48:55
291537,2016-01-09,2784522,5,771,2016-01-09 06:48:54,2016-01-09 06:49:03,2016-01-09 06:49:03
...,...,...,...,...,...,...,...
1137486,2017-06-30,5114015,64,6110,2017-06-30 23:38:03,2017-06-30 23:53:12,2017-06-30 23:53:21
1141028,2017-06-30,5109103,54,1874,2017-06-30 23:53:35,2017-06-30 23:53:22,2017-06-30 23:53:34
1141472,2017-06-30,5109103,55,1875,2017-06-30 23:54:09,2017-06-30 23:53:57,2017-06-30 23:54:09
1138786,2017-06-30,5114015,65,7020,2017-06-30 23:38:32,2017-06-30 23:54:25,2017-06-30 23:54:39
1141858,2017-06-30,5109103,56,1876,2017-06-30 23:54:43,2017-06-30 23:54:35,2017-06-30 23:54:52
881457,2017-06-30,5114015,66,7029,2017-06-30 23:38:43,2017-06-30 23:55:02,2017-06-30 23:55:02
1141934,2017-06-30,5109103,57,1877,2017-06-30 23:55:33,2017-06-30 23:55:26,2017-06-30 23:55:35
1139431,2017-06-30,5114015,67,7038,2017-06-30 23:39:03,2017-06-30 23:55:43,2017-06-30 23:56:00
1143198,2017-06-30,5109103,58,1878,2017-06-30 23:55:54,2017-06-30 23:56:09,2017-06-30 23:56:20
1139503,2017-06-30,5114015,68,7011,2017-06-30 23:39:31,2017-06-30 23:56:58,2017-06-30 23:57:11
1127843,2017-06-30,5109103,59,1879,2017-06-30 23:56:17,2017-06-30 23:57:09,2017-06-30 23:57:09
1129642,2017-06-30,5109103,60,1899,2017-06-30 23:56:41,2017-06-30 23:57:47,2017-06-30 23:58:01
881458,2017-06-30,5114015,69,2171,2017-06-30 23:40:12,2017-06-30 23:58:17,2017-06-30 23:58:17
1140145,2017-06-30,5114015,70,7160,2017-06-30 23:40:20,2017-06-30 23:58:32,2017-06-30 23:58:39
1131436,2017-06-30,5109103,61,6107,2017-06-30 23:56:53,2017-06-30 23:58:34,2017-06-30 23:58:34
1134024,2017-06-30,5109103,62,6108,2017-06-30 23:57:10,2017-06-30 23:58:57,2017-06-30 23:59:08
1140710,2017-06-30,5114015,71,7047,2017-06-30 23:40:49,2017-06-30 23:59:27,2017-06-30 23:59:27
1135834,2017-06-30,5109103,63,6109,2017-06-30 23:57:30,2017-06-30 23:59:41,2017-06-30 23:59:55
1141137,2017-06-30,5114015,72,7161,2017-06-30 23:41:08,2017-06-30 23:59:55,2017-06-30 23:59:55
1137485,2017-06-30,5109103,64,6110,2017-06-30 23:58:03,2017-07-01 00:00:41,2017-07-01 00:01:03
1138785,2017-06-30,5109103,65,7020,2017-06-30 23:58:32,2017-07-01 00:01:50,2017-07-01 00:01:50
1141578,2017-06-30,5114015,73,7162,2017-06-30 23:41:29,2017-07-01 00:01:53,2017-07-01 00:01:53
1139108,2017-06-30,5109103,66,7029,2017-06-30 23:58:43,2017-07-01 00:02:06,2017-07-01 00:02:18
1139430,2017-06-30,5109103,67,7038,2017-06-30 23:59:03,2017-07-01 00:02:58,2017-07-01 00:03:11
1139502,2017-06-30,5109103,68,7011,2017-06-30 23:59:31,2017-07-01 00:04:04,2017-07-01 00:04:17
1139824,2017-06-30,5109103,69,2171,2017-07-01 00:00:12,2017-07-01 00:05:26,2017-07-01 00:05:26
1140144,2017-06-30,5109103,70,7160,2017-07-01 00:00:20,2017-07-01 00:05:35,2017-07-01 00:05:35
1140709,2017-06-30,5109103,71,7047,2017-07-01 00:00:49,2017-07-01 00:06:17,2017-07-01 00:06:17
1141136,2017-06-30,5109103,72,7161,2017-07-01 00:01:08,2017-07-01 00:06:41,2017-07-01 00:06:41
1141577,2017-06-30,5109103,73,7162,2017-07-01 00:01:29,2017-07-01 00:07:03,2017-07-01 00:07:03

In [58]:
#ValueError: right keys must be sorted
weather = weather.sort_values('actual_arr')
weather

,actual_arr,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
73487,2016-01-01 00:00:00,0,0.0,0,1.2,0,0.7,-0.2,6.0,90.0,1016.2
73488,2016-01-01 01:00:00,0,0.0,0,1.5,0,0.8,-0.7,5.8,85.0,1016.2
73489,2016-01-01 02:00:00,0,0.0,0,-0.2,0,-0.6,-1.3,5.6,92.0,1016.4
73490,2016-01-01 03:00:00,0,0.0,0,-0.7,0,-1.0,-1.4,5.5,95.0,1016.3
73491,2016-01-01 04:00:00,0,0.0,0,-0.3,0,-0.6,-1.2,5.6,94.0,1016.2
73492,2016-01-01 05:00:00,0,0.0,0,2.4,0,1.4,-0.3,6.0,82.0,1015.4
73493,2016-01-01 06:00:00,0,0.0,0,2.9,0,1.9,0.4,6.3,83.0,1014.6
73494,2016-01-01 07:00:00,0,0.0,0,2.5,0,1.8,0.7,6.4,88.0,1014.0
73495,2016-01-01 08:00:00,0,0.0,0,4.9,0,3.7,1.9,7.0,80.0,1013.0
73496,2016-01-01 09:00:00,0,0.0,0,6.3,0,5.0,3.3,7.7,81.0,1011.9
73497,2016-01-01 10:00:00,0,0.0,0,7.6,0,6.5,5.0,8.7,83.0,1011.0
73498,2016-01-01 11:00:00,0,0.0,0,7.8,0,6.6,5.1,8.8,83.0,1009.5
73499,2016-01-01 12:00:00,0,0.0,0,8.1,0,6.9,5.4,9.0,83.0,1007.9
73500,2016-01-01 13:00:00,0,0.7,0,7.2,0,6.8,6.3,9.6,93.0,1006.1
73501,2016-01-01 14:00:00,0,0.7,0,7.4,0,7.1,6.7,9.8,95.0,1004.0
73502,2016-01-01 15:00:00,0,0.5,0,7.8,0,7.5,7.2,10.2,95.0,1002.2
73503,2016-01-01 16:00:00,0,1.0,0,8.1,0,8.0,7.8,10.6,98.0,1001.2
73504,2016-01-01 17:00:00,0,1.8,0,8.5,0,8.2,7.9,10.7,96.0,1000.2
73505,2016-01-01 18:00:00,0,1.1,0,8.5,0,8.4,8.3,11.0,98.0,999.3
73506,2016-01-01 19:00:00,0,1.2,0,8.6,0,8.4,8.2,10.9,97.0,998.6
73507,2016-01-01 20:00:00,0,1.8,0,8.4,0,8.0,7.4,10.3,93.0,997.8
73508,2016-01-01 21:00:00,0,1.2,0,8.5,0,8.2,7.9,10.6,96.0,996.5
73509,2016-01-01 22:00:00,0,0.8,0,8.5,0,8.3,8.1,10.8,97.0,995.6
73510,2016-01-01 23:00:00,0,0.4,0,8.4,0,8.2,8.0,10.8,97.0,995.0
73511,2016-01-02 00:00:00,0,0.8,0,8.2,0,8.2,8.1,10.8,99.0,994.1
73512,2016-01-02 01:00:00,0,0.2,0,8.8,0,8.2,7.6,10.5,92.0,993.7
73513,2016-01-02 02:00:00,0,0.1,0,8.7,0,8.4,8.1,10.8,95.0,992.8
73514,2016-01-02 03:00:00,0,0.4,0,8.8,0,8.6,8.5,11.1,97.0,992.6
73515,2016-01-02 04:00:00,0,0.2,0,9.2,0,8.8,8.3,10.9,93.0,992.8
73516,2016-01-02 05:00:00,0,0.0,0,9.4,0,9.1,8.8,11.3,95.0,993.0
...,...,...,...,...,...,...,...,...,...,...,...
91002,2017-12-30 19:00:00,0,0.0,0,8.3,0,6.4,3.9,8.1,73.0,993.8
91003,2017-12-30 20:00:00,0,0.0,0,9.3,0,6.7,3.4,7.8,66.0,992.3
91004,2017-12-30 21:00:00,0,0.0,0,8.6,0,6.5,3.8,8.0,71.0,990.3
91005,2017-12-30 22:00:00,0,0.1,0,7.7,0,6.9,5.8,9.2,87.0,987.6
91006,2017-12-30 23:00:00,0,0.2,0,9.0,0,7.6,5.9,9.3,81.0,984.8
91007,2017-12-31 00:00:00,0,0.0,0,11.0,0,9.5,7.8,10.6,80.0,982.7
91008,2017-12-31 01:00:00,0,0.0,0,11.8,0,9.8,7.8,10.6,76.0,983.0
91009,2017-12-31 02:00:00,0,0.0,0,11.2,0,9.1,6.9,9.9,74.0,983.0
91010,2017-12-31 03:00:00,0,0.0,0,10.6,0,7.2,2.7,7.4,57.0,983.6
91011,2017-12-31 04:00:00,0,0.0,0,8.9,0,6.3,2.7,7.4,65.0,984.7
91012,2017-12-31 05:00:00,0,0.1,0,7.8,0,5.6,2.6,7.4,69.0,984.8
91013,2017-12-31 06:00:00,0,0.0,0,6.9,0,5.1,2.5,7.3,73.0,985.6
91014,2017-12-31 07:00:00,0,0.0,0,6.7,0,5.0,2.4,7.3,74.0,986.2
91015,2017-12-31 08:00:00,0,0.0,0,6.9,0,5.0,2.4,7.3,73.0,986.7
91016,2017-12-31 09:00:00,0,0.0,0,6.4,0,4.6,1.9,7.0,72.0,987.1
91017,2017-12-31 10:00:00,0,0.0,0,6.9,0,5.0,2.2,7.2,71.0,987.3
91018,2017-12-31 11:00:00,0,0.0,0,7.8,0,5.6,2.5,7.3,69.0,987.0
91019,2017-12-31 12:00:00,0,0.0,0,8.1,0,5.9,2.8,7.5,69.0,986.0
91020,2017-12-31 13:00:00,0,0.0,0,8.4,0,6.3,3.5,7.9,71.0,985.7
91021,2017-12-31 14:00:00,0,0.0,0,7.8,0,6.2,4.3,8.3,78.0,985.4
91022,2017-12-31 15:00:00,0,0.1,0,6.0,0,5.0,3.6,7.9,84.0,985.8
91023,2017-12-31 16:00:00,0,0.4,0,5.0,0,4.1,2.9,7.5,85.0,985.7
91024,2017-12-31 17:00:00,0,0.0,0,5.2,0,4.3,3.2,7.7,87.0,986.4
91025,2017-12-31 18:00:00,0,0.0,0,4.7,0,4.1,3.1,7.7,89.0,987.9
91026,2017-12-31 19:00:00,0,0.0,0,4.5,0,3.8,2.7,7.4,87.0,989.3
91027,2017-12-31 20:00:00,0,0.0,0,4.2,0,3.2,1.8,7.0,84.0,990.3
91028,2017-12-31 21:00:00,0,0.0,0,4.6,0,3.4,1.6,6.8,80.0,991.1
91029,2017-12-31 22:00:00,0,0.1,0,4.3,0,3.1,1.3,6.7,80.0,990.7
91030,2017-12-31 23:00:00,0,0.0,0,4.2,0,3.0,1.2,6.6,80.0,990.6
91031,2018-01-01 00:00:00,0,0.0,0,4.6,0,3.5,1.8,6.9,82.0,991.0

In [59]:
#Merge
#pd.merge_asof(trades, quotes, on='time', by='ticker', tolerance=pd.Timedelta('2ms'))
pd.merge_asof(df39A_40l,weather,on='actual_arr',tolerance=pd.Timedelta('1h'))

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
0,2016-01-09,2784478,1,767,2016-01-09 06:30:00,2016-01-09 06:29:51,2016-01-09 06:29:51,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
1,2016-01-09,2784478,2,768,2016-01-09 06:32:23,2016-01-09 06:31:26,2016-01-09 06:31:26,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
2,2016-01-09,2784478,3,769,2016-01-09 06:32:48,2016-01-09 06:31:45,2016-01-09 06:31:45,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
3,2016-01-09,2784478,4,770,2016-01-09 06:33:35,2016-01-09 06:32:15,2016-01-09 06:32:15,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
4,2016-01-09,2784478,5,771,2016-01-09 06:33:54,2016-01-09 06:32:24,2016-01-09 06:32:24,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
5,2016-01-09,2784478,6,772,2016-01-09 06:34:33,2016-01-09 06:33:05,2016-01-09 06:33:05,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
6,2016-01-09,2784478,7,773,2016-01-09 06:34:57,2016-01-09 06:33:27,2016-01-09 06:33:44,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
7,2016-01-09,2784478,8,774,2016-01-09 06:35:25,2016-01-09 06:34:03,2016-01-09 06:34:03,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
8,2016-01-09,2784478,9,775,2016-01-09 06:36:04,2016-01-09 06:34:33,2016-01-09 06:34:33,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
9,2016-01-09,2784478,10,776,2016-01-09 06:36:37,2016-01-09 06:34:55,2016-01-09 06:34:55,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
10,2016-01-09,2784478,11,777,2016-01-09 06:36:56,2016-01-09 06:35:13,2016-01-09 06:35:24,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
11,2016-01-09,2784478,12,779,2016-01-09 06:37:19,2016-01-09 06:36:01,2016-01-09 06:36:01,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
12,2016-01-09,2784478,13,780,2016-01-09 06:37:52,2016-01-09 06:36:20,2016-01-09 06:36:20,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
13,2016-01-09,2784478,14,781,2016-01-09 06:38:15,2016-01-09 06:36:38,2016-01-09 06:36:38,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
14,2016-01-09,2784478,15,782,2016-01-09 06:38:35,2016-01-09 06:37:10,2016-01-09 06:37:10,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
15,2016-01-09,2784478,16,783,2016-01-09 06:39:05,2016-01-09 06:37:32,2016-01-09 06:37:32,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
16,2016-01-09,2784478,17,784,2016-01-09 06:39:27,2016-01-09 06:37:47,2016-01-09 06:37:59,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
17,2016-01-09,2784478,18,785,2016-01-09 06:40:04,2016-01-09 06:38:33,2016-01-09 06:38:33,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
18,2016-01-09,2784478,19,786,2016-01-09 06:41:10,2016-01-09 06:39:25,2016-01-09 06:39:25,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
19,2016-01-09,2784478,20,793,2016-01-09 06:43:06,2016-01-09 06:42:01,2016-01-09 06:42:01,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
20,2016-01-09,2784478,21,7576,2016-01-09 06:43:22,2016-01-09 06:42:21,2016-01-09 06:42:21,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
21,2016-01-09,2784478,22,7586,2016-01-09 06:44:28,2016-01-09 06:43:13,2016-01-09 06:43:13,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
22,2016-01-09,2784478,23,7587,2016-01-09 06:45:49,2016-01-09 06:45:07,2016-01-09 06:45:07,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
23,2016-01-09,2784478,24,7588,2016-01-09 06:46:21,2016-01-09 06:45:17,2016-01-09 06:45:17,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
24,2016-01-09,2784522,1,767,2016-01-09 06:45:00,2016-01-09 06:46:18,2016-01-09 06:46:18,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
25,2016-01-09,2784522,2,768,2016-01-09 06:47:23,2016-01-09 06:47:43,2016-01-09 06:47:59,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
26,2016-01-09,2784522,3,769,2016-01-09 06:47:48,2016-01-09 06:48:22,2016-01-09 06:48:22,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
27,2016-01-09,2784478,25,328,2016-01-09 06:48:16,2016-01-09 06:48:30,2016-01-09 06:49:24,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
28,2016-01-09,2784522,4,770,2016-01-09 06:48:35,2016-01-09 06:48:55,2016-01-09 06:48:55,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
29,2016-01-09,2784522,5,771,2016-01-09 06:48:54,2016-01-09 06:49:03,2016-01-09 06:49:03,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220730,2017-06-30,5114015,64,6110,2017-06-30 23:38:03,2017-06-30 23:53:12,2017-06-30 23:53:21,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220731,2017-06-30,5109103,54,1874,2017-06-30 23:53:35,2017-06-30 23:53:22,2017-06-30 23:53:34,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220732,2017-06-30,5109103,55,1875,2017-06-30 23:54:09,2017-06-30 23:53:57,2017-06-30 23:54:09,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220733,2017-06-30,5114015,65,7020,2017-06-30 23:38:32,2017-06-30 23:54:25,2017-06-30 23:54:39,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220734,2017-06-30,5109103,56,1876,2017-06-30 23:54:43,2017-06-30 23:54:35,2017-06-30 23:54:52,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220735,2017-06-30,5114015,66,7029,2017-06-30 23:38:43,2017-06-30 23:55:02,2017-06-30 23:55:02,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220736,2017-06-30,5109103,57,1877,2017-06-30 23:55:33,2017-06-30 23:55:26,2017-06-30 23:55:35,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220737,2017-06-30,5114015,67,7038,2017-06-30 23:39:03,2017-06-30 23:55:43,2017-06-30 23:56:00,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220738,2017-06-30,5109103,58,1878,2017-06-30 23:55:54,2017-06-30 23:56:09,2017-06-30 23:56:20,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220739,2017-06-30,5114015,68,7011,2017-06-30 23:39:31,2017-06-30 23:56:58,2017-06-30 23:57:11,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220740,2017-06-30,5109103,59,1879,2017-06-30 23:56:17,2017-06-30 23:57:09,2017-06-30 23:57:09,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220741,2017-06-30,5109103,60,1899,2017-06-30 23:56:41,2017-06-30 23:57:47,2017-06-30 23:58:01,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220742,2017-06-30,5114015,69,2171,2017-06-30 23:40:12,2017-06-30 23:58:17,2017-06-30 23:58:17,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220743,2017-06-30,5114015,70,7160,2017-06-30 23:40:20,2017-06-30 23:58:32,2017-06-30 23:58:39,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220744,2017-06-30,5109103,61,6107,2017-06-30 23:56:53,2017-06-30 23:58:34,2017-06-30 23:58:34,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220745,2017-06-30,5109103,62,6108,2017-06-30 23:57:10,2017-06-30 23:58:57,2017-06-30 23:59:08,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220746,2017-06-30,5114015,71,7047,2017-06-30 23:40:49,2017-06-30 23:59:27,2017-06-30 23:59:27,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220747,2017-06-30,5109103,63,6109,2017-06-30 23:57:30,2017-06-30 23:59:41,2017-06-30 23:59:55,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220748,2017-06-30,5114015,72,7161,2017-06-30 23:41:08,2017-06-30 23:59:55,2017-06-30 23:59:55,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220749,2017-06-30,5109103,64,6110,2017-06-30 23:58:03,2017-07-01 00:00:41,2017-07-01 00:01:03,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220750,2017-06-30,5109103,65,7020,2017-06-30 23:58:32,2017-07-01 00:01:50,2017-07-01 00:01:50,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220751,2017-06-30,5114015,73,7162,2017-06-30 23:41:29,2017-07-01 00:01:53,2017-07-01 00:01:53,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220752,2017-06-30,5109103,66,7029,2017-06-30 23:58:43,2017-07-01 00:02:06,2017-07-01 00:02:18,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220753,2017-06-30,5109103,67,7038,2017-06-30 23:59:03,2017-07-01 00:02:58,2017-07-01 00:03:11,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220754,2017-06-30,5109103,68,7011,2017-06-30 23:59:31,2017-07-01 00:04:04,2017-07-01 00:04:17,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220755,2017-06-30,5109103,69,2171,2017-07-01 00:00:12,2017-07-01 00:05:26,2017-07-01 00:05:26,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220756,2017-06-30,5109103,70,7160,2017-07-01 00:00:20,2017-07-01 00:05:35,2017-07-01 00:05:35,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220757,2017-06-30,5109103,71,7047,2017-07-01 00:00:49,2017-07-01 00:06:17,2017-07-01 00:06:17,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220758,2017-06-30,5109103,72,7161,2017-07-01 00:01:08,2017-07-01 00:06:41,2017-07-01 00:06:41,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220759,2017-06-30,5109103,73,7162,2017-07-01 00:01:29,2017-07-01 00:07:03,2017-07-01 00:07:03,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2