In [1]:
import pandas as pd
#import os

#read in 39A leave time files
df39As = {}
keyList=[]
for file in os.listdir('Test/leavetimes/'):
    if file.startswith('39A'):
        keyList.append(file)
for key in keyList:
    df39As[key] = pd.read_csv('Test/leavetimes/'+file,names=['dayofservice','tripid','progrnumber','stopid','plannedtime',
                                                         'actual_arr','actual_dep'])

#Check key ring
df39As.keys()

#Let's look at one at a time
df39As['39A_40l']
#Interesting, only got 866003 rows instead of 1220760 rows of all. Seems like a limitation of dictionary values. Let's try 
#something else.

In [2]:
#read in 39A_40l
df39A_40l = pd.read_csv('Test/leavetimes/39A_40l',names=['dayofservice','tripid','progrnumber','stopid','plannedtime',
                                                         'actual_arr','actual_dep'])

In [3]:
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
0,31-MAR-16,2901088,38,1661,60761,60789,60789
1,31-MAR-16,2901088,43,1807,61119,61096,61111
2,31-MAR-16,2901088,48,4464,62066,62137,62155
3,31-MAR-16,2901088,53,1873,62336,62426,62445
4,31-MAR-16,2901088,58,1878,62595,62656,62672
5,31-MAR-16,2901088,63,6109,62759,63007,63007
6,31-MAR-16,2901088,68,7011,62966,63300,63314
7,31-MAR-16,2901088,73,7162,63160,63543,63543
8,31-MAR-16,2901666,11,777,37151,37056,37056
9,31-MAR-16,2901666,16,783,37410,37308,37323
10,31-MAR-16,2901666,20,793,37908,37997,38014
11,31-MAR-16,2901666,25,328,38502,38497,38559
12,31-MAR-16,2901666,30,1648,39006,38968,38968
13,31-MAR-16,2901666,35,1805,39281,39184,39196
14,19-APR-16,3006509,1,767,40200,40406,40406
15,19-APR-16,3006509,2,768,40372,40548,40580
16,19-APR-16,3006509,3,769,40400,40602,40602
17,19-APR-16,3006509,4,770,40450,40633,40633
18,19-APR-16,3006509,6,772,40512,40662,40662
19,19-APR-16,3006509,7,773,40549,40694,40717
20,19-APR-16,3006509,8,774,40593,40752,40752
21,19-APR-16,3006509,9,775,40652,40786,40796
22,19-APR-16,3006509,11,777,40751,40873,40873
23,19-APR-16,3006509,12,779,40804,40909,40919
24,19-APR-16,3006509,13,780,40868,40945,40945
25,19-APR-16,3006509,14,781,40912,40962,40980
26,19-APR-16,3006509,16,783,41010,41147,41170
27,19-APR-16,3006509,17,784,41050,41191,41191
28,19-APR-16,3011981,1,767,76800,76874,76874
29,19-APR-16,3011981,3,769,76985,77034,77034
...,...,...,...,...,...,...,...
1220730,29-MAR-17,4528528,25,328,41422,41833,41871
1220731,29-MAR-17,4528528,30,1648,41925,42437,42461
1220732,29-MAR-17,4528528,35,1805,42198,42739,42779
1220733,29-MAR-17,4528528,40,1664,42573,43221,43252
1220734,29-MAR-17,4534759,66,7029,36644,37171,37171
1220735,29-MAR-17,4534759,71,7047,36781,37430,37430
1220736,29-MAR-17,4521190,3,769,34972,34841,34841
1220737,29-MAR-17,4521190,7,773,35152,34982,34982
1220738,29-MAR-17,4524668,31,1649,33446,33802,33819
1220739,29-MAR-17,4524668,36,1806,33768,34135,34147
1220740,29-MAR-17,4524668,41,1665,34131,34591,34591
1220741,29-MAR-17,4524668,46,7389,34473,34929,34929
1220742,29-MAR-17,4529867,56,1876,33257,33745,33745
1220743,29-MAR-17,4529867,60,1899,33378,34004,34004
1220744,29-MAR-17,4529867,65,7020,33499,34181,34181
1220745,29-MAR-17,4529867,70,7160,33617,34376,34387
1220746,29-MAR-17,4521496,2,768,29569,29567,29599
1220747,29-MAR-17,4521496,7,773,29853,29810,29871
1220748,29-MAR-17,4521496,12,779,30226,30173,30186
1220749,29-MAR-17,4521496,17,784,30536,30509,30523
1220750,29-MAR-17,4521496,24,7588,31398,31319,31328
1220751,29-MAR-17,4526911,33,1913,34210,33988,33988
1220752,29-MAR-17,4526911,38,1661,34544,34189,34189
1220753,29-MAR-17,4526911,43,1807,34830,34457,34457
1220754,29-MAR-17,4526911,48,4464,35385,35033,35033
1220755,29-MAR-17,4526911,53,1873,35558,35293,35293
1220756,29-MAR-17,4526911,58,1878,35727,35436,35436
1220757,29-MAR-17,4526911,63,6109,35832,35665,35665
1220758,29-MAR-17,4526911,68,7011,35964,35886,35897
1220759,29-MAR-17,4526911,73,7162,36089,36077,36077

In [5]:
df39A_40l.dtypes

dayofservice    object
tripid           int64
progrnumber      int64
stopid           int64
plannedtime      int64
actual_arr       int64
actual_dep       int64
dtype: object

In [8]:
df39A_40l.dayofservice = df39A_40l.dayofservice.astype('datetime64[ns]')

In [10]:
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
0,2016-03-31,2901088,38,1661,60761,60789,60789
1,2016-03-31,2901088,43,1807,61119,61096,61111
2,2016-03-31,2901088,48,4464,62066,62137,62155
3,2016-03-31,2901088,53,1873,62336,62426,62445
4,2016-03-31,2901088,58,1878,62595,62656,62672
5,2016-03-31,2901088,63,6109,62759,63007,63007
6,2016-03-31,2901088,68,7011,62966,63300,63314
7,2016-03-31,2901088,73,7162,63160,63543,63543
8,2016-03-31,2901666,11,777,37151,37056,37056
9,2016-03-31,2901666,16,783,37410,37308,37323
10,2016-03-31,2901666,20,793,37908,37997,38014
11,2016-03-31,2901666,25,328,38502,38497,38559
12,2016-03-31,2901666,30,1648,39006,38968,38968
13,2016-03-31,2901666,35,1805,39281,39184,39196
14,2016-04-19,3006509,1,767,40200,40406,40406
15,2016-04-19,3006509,2,768,40372,40548,40580
16,2016-04-19,3006509,3,769,40400,40602,40602
17,2016-04-19,3006509,4,770,40450,40633,40633
18,2016-04-19,3006509,6,772,40512,40662,40662
19,2016-04-19,3006509,7,773,40549,40694,40717
20,2016-04-19,3006509,8,774,40593,40752,40752
21,2016-04-19,3006509,9,775,40652,40786,40796
22,2016-04-19,3006509,11,777,40751,40873,40873
23,2016-04-19,3006509,12,779,40804,40909,40919
24,2016-04-19,3006509,13,780,40868,40945,40945
25,2016-04-19,3006509,14,781,40912,40962,40980
26,2016-04-19,3006509,16,783,41010,41147,41170
27,2016-04-19,3006509,17,784,41050,41191,41191
28,2016-04-19,3011981,1,767,76800,76874,76874
29,2016-04-19,3011981,3,769,76985,77034,77034
...,...,...,...,...,...,...,...
1220730,2017-03-29,4528528,25,328,41422,41833,41871
1220731,2017-03-29,4528528,30,1648,41925,42437,42461
1220732,2017-03-29,4528528,35,1805,42198,42739,42779
1220733,2017-03-29,4528528,40,1664,42573,43221,43252
1220734,2017-03-29,4534759,66,7029,36644,37171,37171
1220735,2017-03-29,4534759,71,7047,36781,37430,37430
1220736,2017-03-29,4521190,3,769,34972,34841,34841
1220737,2017-03-29,4521190,7,773,35152,34982,34982
1220738,2017-03-29,4524668,31,1649,33446,33802,33819
1220739,2017-03-29,4524668,36,1806,33768,34135,34147
1220740,2017-03-29,4524668,41,1665,34131,34591,34591
1220741,2017-03-29,4524668,46,7389,34473,34929,34929
1220742,2017-03-29,4529867,56,1876,33257,33745,33745
1220743,2017-03-29,4529867,60,1899,33378,34004,34004
1220744,2017-03-29,4529867,65,7020,33499,34181,34181
1220745,2017-03-29,4529867,70,7160,33617,34376,34387
1220746,2017-03-29,4521496,2,768,29569,29567,29599
1220747,2017-03-29,4521496,7,773,29853,29810,29871
1220748,2017-03-29,4521496,12,779,30226,30173,30186
1220749,2017-03-29,4521496,17,784,30536,30509,30523
1220750,2017-03-29,4521496,24,7588,31398,31319,31328
1220751,2017-03-29,4526911,33,1913,34210,33988,33988
1220752,2017-03-29,4526911,38,1661,34544,34189,34189
1220753,2017-03-29,4526911,43,1807,34830,34457,34457
1220754,2017-03-29,4526911,48,4464,35385,35033,35033
1220755,2017-03-29,4526911,53,1873,35558,35293,35293
1220756,2017-03-29,4526911,58,1878,35727,35436,35436
1220757,2017-03-29,4526911,63,6109,35832,35665,35665
1220758,2017-03-29,4526911,68,7011,35964,35886,35897
1220759,2017-03-29,4526911,73,7162,36089,36077,36077

In [40]:
df39A_40l = df39A_40l.sort_values(['dayofservice','tripid','progrnumber'])

KeyboardInterrupt:

In [17]:
df39A_40l.dayofservice[0]

Timestamp('2016-03-31 00:00:00')

In [18]:
df39A_40l.plannedtime[0]
#is 16.8 hours

60761

In [16]:
#In order to match with other time easily, change plannedtime, actual_arr, actual_dep to timestamp
#df['EndDate'] = pd.to_datetime(df['StartDate']) + pd.to_timedelta(df['duration'], unit='s')
print(df39A_40l.dayofservice[0]+pd.to_timedelta(df39A_40l.plannedtime[0],unit='s'))

2016-03-31 16:52:41

In [23]:
#Consider this is more than one line, and will be used later, I wrote an function for it.
def changeToDatetime(df):
    '''A function that change plannedtime, actual_arr and actual_dep to datetime.'''
    df.plannedtime = df.dayofservice + pd.to_timedelta(df.plannedtime,unit='s')
    df.actual_arr = df.dayofservice + pd.to_timedelta(df.actual_arr,unit='s')
    df.actual_dep = df.dayofservice + pd.to_timedelta(df.actual_dep,unit='s')

In [24]:
changeToDatetime(df39A_40l)

In [25]:
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
0,2016-03-31,2901088,38,1661,2016-03-31 16:52:41,2016-03-31 16:53:09,2016-03-31 16:53:09
1,2016-03-31,2901088,43,1807,2016-03-31 16:58:39,2016-03-31 16:58:16,2016-03-31 16:58:31
2,2016-03-31,2901088,48,4464,2016-03-31 17:14:26,2016-03-31 17:15:37,2016-03-31 17:15:55
3,2016-03-31,2901088,53,1873,2016-03-31 17:18:56,2016-03-31 17:20:26,2016-03-31 17:20:45
4,2016-03-31,2901088,58,1878,2016-03-31 17:23:15,2016-03-31 17:24:16,2016-03-31 17:24:32
5,2016-03-31,2901088,63,6109,2016-03-31 17:25:59,2016-03-31 17:30:07,2016-03-31 17:30:07
6,2016-03-31,2901088,68,7011,2016-03-31 17:29:26,2016-03-31 17:35:00,2016-03-31 17:35:14
7,2016-03-31,2901088,73,7162,2016-03-31 17:32:40,2016-03-31 17:39:03,2016-03-31 17:39:03
8,2016-03-31,2901666,11,777,2016-03-31 10:19:11,2016-03-31 10:17:36,2016-03-31 10:17:36
9,2016-03-31,2901666,16,783,2016-03-31 10:23:30,2016-03-31 10:21:48,2016-03-31 10:22:03
10,2016-03-31,2901666,20,793,2016-03-31 10:31:48,2016-03-31 10:33:17,2016-03-31 10:33:34
11,2016-03-31,2901666,25,328,2016-03-31 10:41:42,2016-03-31 10:41:37,2016-03-31 10:42:39
12,2016-03-31,2901666,30,1648,2016-03-31 10:50:06,2016-03-31 10:49:28,2016-03-31 10:49:28
13,2016-03-31,2901666,35,1805,2016-03-31 10:54:41,2016-03-31 10:53:04,2016-03-31 10:53:16
14,2016-04-19,3006509,1,767,2016-04-19 11:10:00,2016-04-19 11:13:26,2016-04-19 11:13:26
15,2016-04-19,3006509,2,768,2016-04-19 11:12:52,2016-04-19 11:15:48,2016-04-19 11:16:20
16,2016-04-19,3006509,3,769,2016-04-19 11:13:20,2016-04-19 11:16:42,2016-04-19 11:16:42
17,2016-04-19,3006509,4,770,2016-04-19 11:14:10,2016-04-19 11:17:13,2016-04-19 11:17:13
18,2016-04-19,3006509,6,772,2016-04-19 11:15:12,2016-04-19 11:17:42,2016-04-19 11:17:42
19,2016-04-19,3006509,7,773,2016-04-19 11:15:49,2016-04-19 11:18:14,2016-04-19 11:18:37
20,2016-04-19,3006509,8,774,2016-04-19 11:16:33,2016-04-19 11:19:12,2016-04-19 11:19:12
21,2016-04-19,3006509,9,775,2016-04-19 11:17:32,2016-04-19 11:19:46,2016-04-19 11:19:56
22,2016-04-19,3006509,11,777,2016-04-19 11:19:11,2016-04-19 11:21:13,2016-04-19 11:21:13
23,2016-04-19,3006509,12,779,2016-04-19 11:20:04,2016-04-19 11:21:49,2016-04-19 11:21:59
24,2016-04-19,3006509,13,780,2016-04-19 11:21:08,2016-04-19 11:22:25,2016-04-19 11:22:25
25,2016-04-19,3006509,14,781,2016-04-19 11:21:52,2016-04-19 11:22:42,2016-04-19 11:23:00
26,2016-04-19,3006509,16,783,2016-04-19 11:23:30,2016-04-19 11:25:47,2016-04-19 11:26:10
27,2016-04-19,3006509,17,784,2016-04-19 11:24:10,2016-04-19 11:26:31,2016-04-19 11:26:31
28,2016-04-19,3011981,1,767,2016-04-19 21:20:00,2016-04-19 21:21:14,2016-04-19 21:21:14
29,2016-04-19,3011981,3,769,2016-04-19 21:23:05,2016-04-19 21:23:54,2016-04-19 21:23:54
...,...,...,...,...,...,...,...
1220730,2017-03-29,4528528,25,328,2017-03-29 11:30:22,2017-03-29 11:37:13,2017-03-29 11:37:51
1220731,2017-03-29,4528528,30,1648,2017-03-29 11:38:45,2017-03-29 11:47:17,2017-03-29 11:47:41
1220732,2017-03-29,4528528,35,1805,2017-03-29 11:43:18,2017-03-29 11:52:19,2017-03-29 11:52:59
1220733,2017-03-29,4528528,40,1664,2017-03-29 11:49:33,2017-03-29 12:00:21,2017-03-29 12:00:52
1220734,2017-03-29,4534759,66,7029,2017-03-29 10:10:44,2017-03-29 10:19:31,2017-03-29 10:19:31
1220735,2017-03-29,4534759,71,7047,2017-03-29 10:13:01,2017-03-29 10:23:50,2017-03-29 10:23:50
1220736,2017-03-29,4521190,3,769,2017-03-29 09:42:52,2017-03-29 09:40:41,2017-03-29 09:40:41
1220737,2017-03-29,4521190,7,773,2017-03-29 09:45:52,2017-03-29 09:43:02,2017-03-29 09:43:02
1220738,2017-03-29,4524668,31,1649,2017-03-29 09:17:26,2017-03-29 09:23:22,2017-03-29 09:23:39
1220739,2017-03-29,4524668,36,1806,2017-03-29 09:22:48,2017-03-29 09:28:55,2017-03-29 09:29:07
1220740,2017-03-29,4524668,41,1665,2017-03-29 09:28:51,2017-03-29 09:36:31,2017-03-29 09:36:31
1220741,2017-03-29,4524668,46,7389,2017-03-29 09:34:33,2017-03-29 09:42:09,2017-03-29 09:42:09
1220742,2017-03-29,4529867,56,1876,2017-03-29 09:14:17,2017-03-29 09:22:25,2017-03-29 09:22:25
1220743,2017-03-29,4529867,60,1899,2017-03-29 09:16:18,2017-03-29 09:26:44,2017-03-29 09:26:44
1220744,2017-03-29,4529867,65,7020,2017-03-29 09:18:19,2017-03-29 09:29:41,2017-03-29 09:29:41
1220745,2017-03-29,4529867,70,7160,2017-03-29 09:20:17,2017-03-29 09:32:56,2017-03-29 09:33:07
1220746,2017-03-29,4521496,2,768,2017-03-29 08:12:49,2017-03-29 08:12:47,2017-03-29 08:13:19
1220747,2017-03-29,4521496,7,773,2017-03-29 08:17:33,2017-03-29 08:16:50,2017-03-29 08:17:51
1220748,2017-03-29,4521496,12,779,2017-03-29 08:23:46,2017-03-29 08:22:53,2017-03-29 08:23:06
1220749,2017-03-29,4521496,17,784,2017-03-29 08:28:56,2017-03-29 08:28:29,2017-03-29 08:28:43
1220750,2017-03-29,4521496,24,7588,2017-03-29 08:43:18,2017-03-29 08:41:59,2017-03-29 08:42:08
1220751,2017-03-29,4526911,33,1913,2017-03-29 09:30:10,2017-03-29 09:26:28,2017-03-29 09:26:28
1220752,2017-03-29,4526911,38,1661,2017-03-29 09:35:44,2017-03-29 09:29:49,2017-03-29 09:29:49
1220753,2017-03-29,4526911,43,1807,2017-03-29 09:40:30,2017-03-29 09:34:17,2017-03-29 09:34:17
1220754,2017-03-29,4526911,48,4464,2017-03-29 09:49:45,2017-03-29 09:43:53,2017-03-29 09:43:53
1220755,2017-03-29,4526911,53,1873,2017-03-29 09:52:38,2017-03-29 09:48:13,2017-03-29 09:48:13
1220756,2017-03-29,4526911,58,1878,2017-03-29 09:55:27,2017-03-29 09:50:36,2017-03-29 09:50:36
1220757,2017-03-29,4526911,63,6109,2017-03-29 09:57:12,2017-03-29 09:54:25,2017-03-29 09:54:25
1220758,2017-03-29,4526911,68,7011,2017-03-29 09:59:24,2017-03-29 09:58:06,2017-03-29 09:58:17
1220759,2017-03-29,4526911,73,7162,2017-03-29 10:01:29,2017-03-29 10:01:17,2017-03-29 10:01:17

In [ ]:
#Extract time info from time columns: month, weekday
#df['YearMonth'] = df['ArrivalDate'].map(lambda x: 100*x.year + x.month)
df39A_40l['month'] = df39A_40l.dayofservice.map(lambda x: x.month)

In [ ]:
df

In [60]:
#extract time table for each stops
df39A_40l.sort_values(['stopid','plannedtime'])

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
667802,2016-01-09,2784478,25,328,2016-01-09 06:48:16,2016-01-09 06:48:30,2016-01-09 06:49:24
667803,2016-01-09,2784522,25,328,2016-01-09 07:03:16,2016-01-09 07:03:44,2016-01-09 07:04:06
667326,2016-01-09,2784527,25,328,2016-01-09 07:17:49,2016-01-09 07:19:00,2016-01-09 07:19:18
667327,2016-01-09,2784397,25,328,2016-01-09 07:47:49,2016-01-09 07:42:25,2016-01-09 07:42:50
292302,2016-01-09,2784404,25,328,2016-01-09 08:02:49,2016-01-09 08:06:20,2016-01-09 08:07:13
667325,2016-01-09,2784532,25,328,2016-01-09 08:21:55,2016-01-09 08:23:09,2016-01-09 08:23:59
667323,2016-01-09,2784574,25,328,2016-01-09 08:36:55,2016-01-09 08:34:47,2016-01-09 08:37:37
292301,2016-01-09,2784542,25,328,2016-01-09 08:51:55,2016-01-09 08:48:41,2016-01-09 08:49:29
667324,2016-01-09,2784547,25,328,2016-01-09 09:06:55,2016-01-09 09:08:56,2016-01-09 09:09:13
667366,2016-01-09,2784521,25,328,2016-01-09 09:39:21,2016-01-09 09:38:27,2016-01-09 09:41:59
667367,2016-01-09,2784491,25,328,2016-01-09 09:54:21,2016-01-09 09:55:58,2016-01-09 09:56:37
667337,2016-01-09,2784526,25,328,2016-01-09 10:09:21,2016-01-09 10:11:58,2016-01-09 10:12:29
667332,2016-01-09,2784408,25,328,2016-01-09 10:29:37,2016-01-09 10:23:17,2016-01-09 10:29:45
292303,2016-01-09,2784396,25,328,2016-01-09 10:44:37,2016-01-09 10:38:29,2016-01-09 10:45:07
667330,2016-01-09,2784403,25,328,2016-01-09 10:59:37,2016-01-09 10:56:22,2016-01-09 10:57:10
667331,2016-01-09,2784531,25,328,2016-01-09 11:14:37,2016-01-09 11:09:41,2016-01-09 11:13:20
667329,2016-01-09,2784573,25,328,2016-01-09 11:29:37,2016-01-09 11:19:07,2016-01-09 11:19:50
667334,2016-01-09,2784541,25,328,2016-01-09 11:44:37,2016-01-09 11:43:55,2016-01-09 11:45:04
667333,2016-01-09,2784456,25,328,2016-01-09 11:59:37,2016-01-09 12:02:26,2016-01-09 12:04:29
667328,2016-01-09,2784460,25,328,2016-01-09 12:14:37,2016-01-09 12:05:16,2016-01-09 12:05:51
667801,2016-01-09,2784546,25,328,2016-01-09 12:32:39,2016-01-09 12:26:31,2016-01-09 12:29:38
667791,2016-01-09,2784476,25,328,2016-01-09 12:47:39,2016-01-09 12:40:26,2016-01-09 12:43:28
667796,2016-01-09,2784520,25,328,2016-01-09 13:02:39,2016-01-09 13:01:06,2016-01-09 13:01:14
667797,2016-01-09,2784490,25,328,2016-01-09 13:17:39,2016-01-09 13:12:42,2016-01-09 13:14:05
667799,2016-01-09,2784525,25,328,2016-01-09 13:32:39,2016-01-09 13:27:33,2016-01-09 13:29:11
667792,2016-01-09,2784407,25,328,2016-01-09 13:47:39,2016-01-09 13:51:11,2016-01-09 13:54:35
667790,2016-01-09,2784395,25,328,2016-01-09 14:02:39,2016-01-09 14:05:01,2016-01-09 14:08:48
667793,2016-01-09,2784402,25,328,2016-01-09 14:17:39,2016-01-09 14:19:06,2016-01-09 14:23:53
667795,2016-01-09,2784530,25,328,2016-01-09 14:32:39,2016-01-09 14:30:16,2016-01-09 14:32:06
667798,2016-01-09,2784572,25,328,2016-01-09 14:47:39,2016-01-09 14:44:16,2016-01-09 14:48:01
...,...,...,...,...,...,...,...
1129337,2017-06-30,5116966,24,7588,2017-06-30 16:56:20,2017-06-30 16:56:10,2017-06-30 16:56:22
1129333,2017-06-30,5111899,24,7588,2017-06-30 17:06:20,2017-06-30 17:02:04,2017-06-30 17:02:29
1129336,2017-06-30,5109229,24,7588,2017-06-30 17:11:20,2017-06-30 17:09:09,2017-06-30 17:09:20
1129329,2017-06-30,5117134,24,7588,2017-06-30 17:22:15,2017-06-30 17:15:49,2017-06-30 17:16:05
889908,2017-06-30,5116995,24,7588,2017-06-30 17:26:20,2017-06-30 17:22:07,2017-06-30 17:22:18
889956,2017-06-30,5117248,24,7588,2017-06-30 17:32:15,2017-06-30 17:33:01,2017-06-30 17:33:17
1129326,2017-06-30,5109368,24,7588,2017-06-30 17:37:15,2017-06-30 17:32:38,2017-06-30 17:32:38
1129327,2017-06-30,5107740,24,7588,2017-06-30 17:42:15,2017-06-30 17:40:48,2017-06-30 17:41:06
1129325,2017-06-30,5111645,24,7588,2017-06-30 17:52:15,2017-06-30 17:54:13,2017-06-30 17:54:13
880197,2017-06-30,5115295,24,7588,2017-06-30 18:02:15,2017-06-30 17:57:42,2017-06-30 17:57:42
1129330,2017-06-30,5116487,24,7588,2017-06-30 18:12:15,2017-06-30 18:05:51,2017-06-30 18:05:57
1129328,2017-06-30,5116301,24,7588,2017-06-30 18:22:15,2017-06-30 18:15:54,2017-06-30 18:16:03
1129356,2017-06-30,5114125,24,7588,2017-06-30 18:27:15,2017-06-30 18:26:05,2017-06-30 18:26:33
1129354,2017-06-30,5114102,24,7588,2017-06-30 18:37:15,2017-06-30 18:41:22,2017-06-30 18:41:36
1129352,2017-06-30,5104101,24,7588,2017-06-30 18:47:15,2017-06-30 18:43:26,2017-06-30 18:43:35
1129353,2017-06-30,5106960,24,7588,2017-06-30 18:57:15,2017-06-30 18:59:27,2017-06-30 18:59:41
1129355,2017-06-30,5101720,24,7588,2017-06-30 19:07:15,2017-06-30 19:10:09,2017-06-30 19:10:26
1129351,2017-06-30,5106518,24,7588,2017-06-30 19:27:15,2017-06-30 19:27:56,2017-06-30 19:27:56
1129347,2017-06-30,5112717,24,7588,2017-06-30 19:47:11,2017-06-30 19:51:39,2017-06-30 19:51:39
1129342,2017-06-30,5114013,24,7588,2017-06-30 20:07:11,2017-06-30 20:07:35,2017-06-30 20:07:49
1129345,2017-06-30,5109101,24,7588,2017-06-30 20:27:11,2017-06-30 20:27:38,2017-06-30 20:27:52
1129346,2017-06-30,5109231,24,7588,2017-06-30 20:47:11,2017-06-30 20:44:50,2017-06-30 20:44:50
1129343,2017-06-30,5117250,24,7588,2017-06-30 21:07:11,2017-06-30 21:02:50,2017-06-30 21:02:56
1129344,2017-06-30,5116303,24,7588,2017-06-30 21:27:11,2017-06-30 21:21:22,2017-06-30 21:21:45
878682,2017-06-30,5114104,24,7588,2017-06-30 21:41:10,2017-06-30 21:43:22,2017-06-30 21:43:22
1127694,2017-06-30,5106963,24,7588,2017-06-30 22:01:10,2017-06-30 22:01:19,2017-06-30 22:01:19
1127693,2017-06-30,5101722,24,7588,2017-06-30 22:21:10,2017-06-30 22:27:38,2017-06-30 22:27:38
1127692,2017-06-30,5112719,24,7588,2017-06-30 22:41:10,2017-06-30 22:43:07,2017-06-30 22:43:13
1129324,2017-06-30,5114015,24,7588,2017-06-30 23:01:10,2017-06-30 23:03:31,2017-06-30 23:04:09
1127695,2017-06-30,5109103,24,7588,2017-06-30 23:21:10,2017-06-30 23:17:32,2017-06-30 23:17:44

In [53]:
# Join weather info into the frame.
weather = pd.read_csv('CleanedWeather2016_17.csv',index_col=0)
weather

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
73487,01/01/2016 00:00,0,0.0,0,1.2,0,0.7,-0.2,6.0,90.0,1016.2
73488,01/01/2016 01:00,0,0.0,0,1.5,0,0.8,-0.7,5.8,85.0,1016.2
73489,01/01/2016 02:00,0,0.0,0,-0.2,0,-0.6,-1.3,5.6,92.0,1016.4
73490,01/01/2016 03:00,0,0.0,0,-0.7,0,-1.0,-1.4,5.5,95.0,1016.3
73491,01/01/2016 04:00,0,0.0,0,-0.3,0,-0.6,-1.2,5.6,94.0,1016.2
73492,01/01/2016 05:00,0,0.0,0,2.4,0,1.4,-0.3,6.0,82.0,1015.4
73493,01/01/2016 06:00,0,0.0,0,2.9,0,1.9,0.4,6.3,83.0,1014.6
73494,01/01/2016 07:00,0,0.0,0,2.5,0,1.8,0.7,6.4,88.0,1014.0
73495,01/01/2016 08:00,0,0.0,0,4.9,0,3.7,1.9,7.0,80.0,1013.0
73496,01/01/2016 09:00,0,0.0,0,6.3,0,5.0,3.3,7.7,81.0,1011.9
73497,01/01/2016 10:00,0,0.0,0,7.6,0,6.5,5.0,8.7,83.0,1011.0
73498,01/01/2016 11:00,0,0.0,0,7.8,0,6.6,5.1,8.8,83.0,1009.5
73499,01/01/2016 12:00,0,0.0,0,8.1,0,6.9,5.4,9.0,83.0,1007.9
73500,01/01/2016 13:00,0,0.7,0,7.2,0,6.8,6.3,9.6,93.0,1006.1
73501,01/01/2016 14:00,0,0.7,0,7.4,0,7.1,6.7,9.8,95.0,1004.0
73502,01/01/2016 15:00,0,0.5,0,7.8,0,7.5,7.2,10.2,95.0,1002.2
73503,01/01/2016 16:00,0,1.0,0,8.1,0,8.0,7.8,10.6,98.0,1001.2
73504,01/01/2016 17:00,0,1.8,0,8.5,0,8.2,7.9,10.7,96.0,1000.2
73505,01/01/2016 18:00,0,1.1,0,8.5,0,8.4,8.3,11.0,98.0,999.3
73506,01/01/2016 19:00,0,1.2,0,8.6,0,8.4,8.2,10.9,97.0,998.6
73507,01/01/2016 20:00,0,1.8,0,8.4,0,8.0,7.4,10.3,93.0,997.8
73508,01/01/2016 21:00,0,1.2,0,8.5,0,8.2,7.9,10.6,96.0,996.5
73509,01/01/2016 22:00,0,0.8,0,8.5,0,8.3,8.1,10.8,97.0,995.6
73510,01/01/2016 23:00,0,0.4,0,8.4,0,8.2,8.0,10.8,97.0,995.0
73511,02/01/2016 00:00,0,0.8,0,8.2,0,8.2,8.1,10.8,99.0,994.1
73512,02/01/2016 01:00,0,0.2,0,8.8,0,8.2,7.6,10.5,92.0,993.7
73513,02/01/2016 02:00,0,0.1,0,8.7,0,8.4,8.1,10.8,95.0,992.8
73514,02/01/2016 03:00,0,0.4,0,8.8,0,8.6,8.5,11.1,97.0,992.6
73515,02/01/2016 04:00,0,0.2,0,9.2,0,8.8,8.3,10.9,93.0,992.8
73516,02/01/2016 05:00,0,0.0,0,9.4,0,9.1,8.8,11.3,95.0,993.0
...,...,...,...,...,...,...,...,...,...,...,...
91002,30/12/2017 19:00,0,0.0,0,8.3,0,6.4,3.9,8.1,73.0,993.8
91003,30/12/2017 20:00,0,0.0,0,9.3,0,6.7,3.4,7.8,66.0,992.3
91004,30/12/2017 21:00,0,0.0,0,8.6,0,6.5,3.8,8.0,71.0,990.3
91005,30/12/2017 22:00,0,0.1,0,7.7,0,6.9,5.8,9.2,87.0,987.6
91006,30/12/2017 23:00,0,0.2,0,9.0,0,7.6,5.9,9.3,81.0,984.8
91007,31/12/2017 00:00,0,0.0,0,11.0,0,9.5,7.8,10.6,80.0,982.7
91008,31/12/2017 01:00,0,0.0,0,11.8,0,9.8,7.8,10.6,76.0,983.0
91009,31/12/2017 02:00,0,0.0,0,11.2,0,9.1,6.9,9.9,74.0,983.0
91010,31/12/2017 03:00,0,0.0,0,10.6,0,7.2,2.7,7.4,57.0,983.6
91011,31/12/2017 04:00,0,0.0,0,8.9,0,6.3,2.7,7.4,65.0,984.7
91012,31/12/2017 05:00,0,0.1,0,7.8,0,5.6,2.6,7.4,69.0,984.8
91013,31/12/2017 06:00,0,0.0,0,6.9,0,5.1,2.5,7.3,73.0,985.6
91014,31/12/2017 07:00,0,0.0,0,6.7,0,5.0,2.4,7.3,74.0,986.2
91015,31/12/2017 08:00,0,0.0,0,6.9,0,5.0,2.4,7.3,73.0,986.7
91016,31/12/2017 09:00,0,0.0,0,6.4,0,4.6,1.9,7.0,72.0,987.1
91017,31/12/2017 10:00,0,0.0,0,6.9,0,5.0,2.2,7.2,71.0,987.3
91018,31/12/2017 11:00,0,0.0,0,7.8,0,5.6,2.5,7.3,69.0,987.0
91019,31/12/2017 12:00,0,0.0,0,8.1,0,5.9,2.8,7.5,69.0,986.0
91020,31/12/2017 13:00,0,0.0,0,8.4,0,6.3,3.5,7.9,71.0,985.7
91021,31/12/2017 14:00,0,0.0,0,7.8,0,6.2,4.3,8.3,78.0,985.4
91022,31/12/2017 15:00,0,0.1,0,6.0,0,5.0,3.6,7.9,84.0,985.8
91023,31/12/2017 16:00,0,0.4,0,5.0,0,4.1,2.9,7.5,85.0,985.7
91024,31/12/2017 17:00,0,0.0,0,5.2,0,4.3,3.2,7.7,87.0,986.4
91025,31/12/2017 18:00,0,0.0,0,4.7,0,4.1,3.1,7.7,89.0,987.9
91026,31/12/2017 19:00,0,0.0,0,4.5,0,3.8,2.7,7.4,87.0,989.3
91027,31/12/2017 20:00,0,0.0,0,4.2,0,3.2,1.8,7.0,84.0,990.3
91028,31/12/2017 21:00,0,0.0,0,4.6,0,3.4,1.6,6.8,80.0,991.1
91029,31/12/2017 22:00,0,0.1,0,4.3,0,3.1,1.3,6.7,80.0,990.7
91030,31/12/2017 23:00,0,0.0,0,4.2,0,3.0,1.2,6.6,80.0,990.6
91031,01/01/2018 00:00,0,0.0,0,4.6,0,3.5,1.8,6.9,82.0,991.0

In [54]:
#Rename to match column name
#df.rename(index=str, columns={"A": "a", "B": "c"})
weather = weather.rename(index=str,columns={"date":"actual_arr"})

In [56]:
#got an error while merging, change datatype of actual_arr
weather.dtypes
#df39A_40l.dayofservice = df39A_40l.dayofservice.astype('datetime64[ns]')
# format='%d-%b-%y %H:%M:%S')
weather.actual_arr = pd.to_datetime(weather.actual_arr,format='%d/%m/%Y %H:%M')
weather

,actual_arr,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
73487,2016-01-01 00:00:00,0,0.0,0,1.2,0,0.7,-0.2,6.0,90.0,1016.2
73488,2016-01-01 01:00:00,0,0.0,0,1.5,0,0.8,-0.7,5.8,85.0,1016.2
73489,2016-01-01 02:00:00,0,0.0,0,-0.2,0,-0.6,-1.3,5.6,92.0,1016.4
73490,2016-01-01 03:00:00,0,0.0,0,-0.7,0,-1.0,-1.4,5.5,95.0,1016.3
73491,2016-01-01 04:00:00,0,0.0,0,-0.3,0,-0.6,-1.2,5.6,94.0,1016.2
73492,2016-01-01 05:00:00,0,0.0,0,2.4,0,1.4,-0.3,6.0,82.0,1015.4
73493,2016-01-01 06:00:00,0,0.0,0,2.9,0,1.9,0.4,6.3,83.0,1014.6
73494,2016-01-01 07:00:00,0,0.0,0,2.5,0,1.8,0.7,6.4,88.0,1014.0
73495,2016-01-01 08:00:00,0,0.0,0,4.9,0,3.7,1.9,7.0,80.0,1013.0
73496,2016-01-01 09:00:00,0,0.0,0,6.3,0,5.0,3.3,7.7,81.0,1011.9
73497,2016-01-01 10:00:00,0,0.0,0,7.6,0,6.5,5.0,8.7,83.0,1011.0
73498,2016-01-01 11:00:00,0,0.0,0,7.8,0,6.6,5.1,8.8,83.0,1009.5
73499,2016-01-01 12:00:00,0,0.0,0,8.1,0,6.9,5.4,9.0,83.0,1007.9
73500,2016-01-01 13:00:00,0,0.7,0,7.2,0,6.8,6.3,9.6,93.0,1006.1
73501,2016-01-01 14:00:00,0,0.7,0,7.4,0,7.1,6.7,9.8,95.0,1004.0
73502,2016-01-01 15:00:00,0,0.5,0,7.8,0,7.5,7.2,10.2,95.0,1002.2
73503,2016-01-01 16:00:00,0,1.0,0,8.1,0,8.0,7.8,10.6,98.0,1001.2
73504,2016-01-01 17:00:00,0,1.8,0,8.5,0,8.2,7.9,10.7,96.0,1000.2
73505,2016-01-01 18:00:00,0,1.1,0,8.5,0,8.4,8.3,11.0,98.0,999.3
73506,2016-01-01 19:00:00,0,1.2,0,8.6,0,8.4,8.2,10.9,97.0,998.6
73507,2016-01-01 20:00:00,0,1.8,0,8.4,0,8.0,7.4,10.3,93.0,997.8
73508,2016-01-01 21:00:00,0,1.2,0,8.5,0,8.2,7.9,10.6,96.0,996.5
73509,2016-01-01 22:00:00,0,0.8,0,8.5,0,8.3,8.1,10.8,97.0,995.6
73510,2016-01-01 23:00:00,0,0.4,0,8.4,0,8.2,8.0,10.8,97.0,995.0
73511,2016-01-02 00:00:00,0,0.8,0,8.2,0,8.2,8.1,10.8,99.0,994.1
73512,2016-01-02 01:00:00,0,0.2,0,8.8,0,8.2,7.6,10.5,92.0,993.7
73513,2016-01-02 02:00:00,0,0.1,0,8.7,0,8.4,8.1,10.8,95.0,992.8
73514,2016-01-02 03:00:00,0,0.4,0,8.8,0,8.6,8.5,11.1,97.0,992.6
73515,2016-01-02 04:00:00,0,0.2,0,9.2,0,8.8,8.3,10.9,93.0,992.8
73516,2016-01-02 05:00:00,0,0.0,0,9.4,0,9.1,8.8,11.3,95.0,993.0
...,...,...,...,...,...,...,...,...,...,...,...
91002,2017-12-30 19:00:00,0,0.0,0,8.3,0,6.4,3.9,8.1,73.0,993.8
91003,2017-12-30 20:00:00,0,0.0,0,9.3,0,6.7,3.4,7.8,66.0,992.3
91004,2017-12-30 21:00:00,0,0.0,0,8.6,0,6.5,3.8,8.0,71.0,990.3
91005,2017-12-30 22:00:00,0,0.1,0,7.7,0,6.9,5.8,9.2,87.0,987.6
91006,2017-12-30 23:00:00,0,0.2,0,9.0,0,7.6,5.9,9.3,81.0,984.8
91007,2017-12-31 00:00:00,0,0.0,0,11.0,0,9.5,7.8,10.6,80.0,982.7
91008,2017-12-31 01:00:00,0,0.0,0,11.8,0,9.8,7.8,10.6,76.0,983.0
91009,2017-12-31 02:00:00,0,0.0,0,11.2,0,9.1,6.9,9.9,74.0,983.0
91010,2017-12-31 03:00:00,0,0.0,0,10.6,0,7.2,2.7,7.4,57.0,983.6
91011,2017-12-31 04:00:00,0,0.0,0,8.9,0,6.3,2.7,7.4,65.0,984.7
91012,2017-12-31 05:00:00,0,0.1,0,7.8,0,5.6,2.6,7.4,69.0,984.8
91013,2017-12-31 06:00:00,0,0.0,0,6.9,0,5.1,2.5,7.3,73.0,985.6
91014,2017-12-31 07:00:00,0,0.0,0,6.7,0,5.0,2.4,7.3,74.0,986.2
91015,2017-12-31 08:00:00,0,0.0,0,6.9,0,5.0,2.4,7.3,73.0,986.7
91016,2017-12-31 09:00:00,0,0.0,0,6.4,0,4.6,1.9,7.0,72.0,987.1
91017,2017-12-31 10:00:00,0,0.0,0,6.9,0,5.0,2.2,7.2,71.0,987.3
91018,2017-12-31 11:00:00,0,0.0,0,7.8,0,5.6,2.5,7.3,69.0,987.0
91019,2017-12-31 12:00:00,0,0.0,0,8.1,0,5.9,2.8,7.5,69.0,986.0
91020,2017-12-31 13:00:00,0,0.0,0,8.4,0,6.3,3.5,7.9,71.0,985.7
91021,2017-12-31 14:00:00,0,0.0,0,7.8,0,6.2,4.3,8.3,78.0,985.4
91022,2017-12-31 15:00:00,0,0.1,0,6.0,0,5.0,3.6,7.9,84.0,985.8
91023,2017-12-31 16:00:00,0,0.4,0,5.0,0,4.1,2.9,7.5,85.0,985.7
91024,2017-12-31 17:00:00,0,0.0,0,5.2,0,4.3,3.2,7.7,87.0,986.4
91025,2017-12-31 18:00:00,0,0.0,0,4.7,0,4.1,3.1,7.7,89.0,987.9
91026,2017-12-31 19:00:00,0,0.0,0,4.5,0,3.8,2.7,7.4,87.0,989.3
91027,2017-12-31 20:00:00,0,0.0,0,4.2,0,3.2,1.8,7.0,84.0,990.3
91028,2017-12-31 21:00:00,0,0.0,0,4.6,0,3.4,1.6,6.8,80.0,991.1
91029,2017-12-31 22:00:00,0,0.1,0,4.3,0,3.1,1.3,6.7,80.0,990.7
91030,2017-12-31 23:00:00,0,0.0,0,4.2,0,3.0,1.2,6.6,80.0,990.6
91031,2018-01-01 00:00:00,0,0.0,0,4.6,0,3.5,1.8,6.9,82.0,991.0

In [57]:
#ValueError: left keys must be sorted
df39A_40l = df39A_40l.sort_values('actual_arr')
df39A_40l

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
667717,2016-01-09,2784478,1,767,2016-01-09 06:30:00,2016-01-09 06:29:51,2016-01-09 06:29:51
667769,2016-01-09,2784478,2,768,2016-01-09 06:32:23,2016-01-09 06:31:26,2016-01-09 06:31:26
668137,2016-01-09,2784478,3,769,2016-01-09 06:32:48,2016-01-09 06:31:45,2016-01-09 06:31:45
668445,2016-01-09,2784478,4,770,2016-01-09 06:33:35,2016-01-09 06:32:15,2016-01-09 06:32:15
668498,2016-01-09,2784478,5,771,2016-01-09 06:33:54,2016-01-09 06:32:24,2016-01-09 06:32:24
668753,2016-01-09,2784478,6,772,2016-01-09 06:34:33,2016-01-09 06:33:05,2016-01-09 06:33:05
669054,2016-01-09,2784478,7,773,2016-01-09 06:34:57,2016-01-09 06:33:27,2016-01-09 06:33:44
669107,2016-01-09,2784478,8,774,2016-01-09 06:35:25,2016-01-09 06:34:03,2016-01-09 06:34:03
669438,2016-01-09,2784478,9,775,2016-01-09 06:36:04,2016-01-09 06:34:33,2016-01-09 06:34:33
669775,2016-01-09,2784478,10,776,2016-01-09 06:36:37,2016-01-09 06:34:55,2016-01-09 06:34:55
669828,2016-01-09,2784478,11,777,2016-01-09 06:36:56,2016-01-09 06:35:13,2016-01-09 06:35:24
291714,2016-01-09,2784478,12,779,2016-01-09 06:37:19,2016-01-09 06:36:01,2016-01-09 06:36:01
670462,2016-01-09,2784478,13,780,2016-01-09 06:37:52,2016-01-09 06:36:20,2016-01-09 06:36:20
670515,2016-01-09,2784478,14,781,2016-01-09 06:38:15,2016-01-09 06:36:38,2016-01-09 06:36:38
670819,2016-01-09,2784478,15,782,2016-01-09 06:38:35,2016-01-09 06:37:10,2016-01-09 06:37:10
281652,2016-01-09,2784478,16,783,2016-01-09 06:39:05,2016-01-09 06:37:32,2016-01-09 06:37:32
292261,2016-01-09,2784478,17,784,2016-01-09 06:39:27,2016-01-09 06:37:47,2016-01-09 06:37:59
282238,2016-01-09,2784478,18,785,2016-01-09 06:40:04,2016-01-09 06:38:33,2016-01-09 06:38:33
282457,2016-01-09,2784478,19,786,2016-01-09 06:41:10,2016-01-09 06:39:25,2016-01-09 06:39:25
282510,2016-01-09,2784478,20,793,2016-01-09 06:43:06,2016-01-09 06:42:01,2016-01-09 06:42:01
666388,2016-01-09,2784478,21,7576,2016-01-09 06:43:22,2016-01-09 06:42:21,2016-01-09 06:42:21
666804,2016-01-09,2784478,22,7586,2016-01-09 06:44:28,2016-01-09 06:43:13,2016-01-09 06:43:13
666855,2016-01-09,2784478,23,7587,2016-01-09 06:45:49,2016-01-09 06:45:07,2016-01-09 06:45:07
667315,2016-01-09,2784478,24,7588,2016-01-09 06:46:21,2016-01-09 06:45:17,2016-01-09 06:45:17
667718,2016-01-09,2784522,1,767,2016-01-09 06:45:00,2016-01-09 06:46:18,2016-01-09 06:46:18
667770,2016-01-09,2784522,2,768,2016-01-09 06:47:23,2016-01-09 06:47:43,2016-01-09 06:47:59
668138,2016-01-09,2784522,3,769,2016-01-09 06:47:48,2016-01-09 06:48:22,2016-01-09 06:48:22
667802,2016-01-09,2784478,25,328,2016-01-09 06:48:16,2016-01-09 06:48:30,2016-01-09 06:49:24
668446,2016-01-09,2784522,4,770,2016-01-09 06:48:35,2016-01-09 06:48:55,2016-01-09 06:48:55
291537,2016-01-09,2784522,5,771,2016-01-09 06:48:54,2016-01-09 06:49:03,2016-01-09 06:49:03
...,...,...,...,...,...,...,...
1137486,2017-06-30,5114015,64,6110,2017-06-30 23:38:03,2017-06-30 23:53:12,2017-06-30 23:53:21
1141028,2017-06-30,5109103,54,1874,2017-06-30 23:53:35,2017-06-30 23:53:22,2017-06-30 23:53:34
1141472,2017-06-30,5109103,55,1875,2017-06-30 23:54:09,2017-06-30 23:53:57,2017-06-30 23:54:09
1138786,2017-06-30,5114015,65,7020,2017-06-30 23:38:32,2017-06-30 23:54:25,2017-06-30 23:54:39
1141858,2017-06-30,5109103,56,1876,2017-06-30 23:54:43,2017-06-30 23:54:35,2017-06-30 23:54:52
881457,2017-06-30,5114015,66,7029,2017-06-30 23:38:43,2017-06-30 23:55:02,2017-06-30 23:55:02
1141934,2017-06-30,5109103,57,1877,2017-06-30 23:55:33,2017-06-30 23:55:26,2017-06-30 23:55:35
1139431,2017-06-30,5114015,67,7038,2017-06-30 23:39:03,2017-06-30 23:55:43,2017-06-30 23:56:00
1143198,2017-06-30,5109103,58,1878,2017-06-30 23:55:54,2017-06-30 23:56:09,2017-06-30 23:56:20
1139503,2017-06-30,5114015,68,7011,2017-06-30 23:39:31,2017-06-30 23:56:58,2017-06-30 23:57:11
1127843,2017-06-30,5109103,59,1879,2017-06-30 23:56:17,2017-06-30 23:57:09,2017-06-30 23:57:09
1129642,2017-06-30,5109103,60,1899,2017-06-30 23:56:41,2017-06-30 23:57:47,2017-06-30 23:58:01
881458,2017-06-30,5114015,69,2171,2017-06-30 23:40:12,2017-06-30 23:58:17,2017-06-30 23:58:17
1140145,2017-06-30,5114015,70,7160,2017-06-30 23:40:20,2017-06-30 23:58:32,2017-06-30 23:58:39
1131436,2017-06-30,5109103,61,6107,2017-06-30 23:56:53,2017-06-30 23:58:34,2017-06-30 23:58:34
1134024,2017-06-30,5109103,62,6108,2017-06-30 23:57:10,2017-06-30 23:58:57,2017-06-30 23:59:08
1140710,2017-06-30,5114015,71,7047,2017-06-30 23:40:49,2017-06-30 23:59:27,2017-06-30 23:59:27
1135834,2017-06-30,5109103,63,6109,2017-06-30 23:57:30,2017-06-30 23:59:41,2017-06-30 23:59:55
1141137,2017-06-30,5114015,72,7161,2017-06-30 23:41:08,2017-06-30 23:59:55,2017-06-30 23:59:55
1137485,2017-06-30,5109103,64,6110,2017-06-30 23:58:03,2017-07-01 00:00:41,2017-07-01 00:01:03
1138785,2017-06-30,5109103,65,7020,2017-06-30 23:58:32,2017-07-01 00:01:50,2017-07-01 00:01:50
1141578,2017-06-30,5114015,73,7162,2017-06-30 23:41:29,2017-07-01 00:01:53,2017-07-01 00:01:53
1139108,2017-06-30,5109103,66,7029,2017-06-30 23:58:43,2017-07-01 00:02:06,2017-07-01 00:02:18
1139430,2017-06-30,5109103,67,7038,2017-06-30 23:59:03,2017-07-01 00:02:58,2017-07-01 00:03:11
1139502,2017-06-30,5109103,68,7011,2017-06-30 23:59:31,2017-07-01 00:04:04,2017-07-01 00:04:17
1139824,2017-06-30,5109103,69,2171,2017-07-01 00:00:12,2017-07-01 00:05:26,2017-07-01 00:05:26
1140144,2017-06-30,5109103,70,7160,2017-07-01 00:00:20,2017-07-01 00:05:35,2017-07-01 00:05:35
1140709,2017-06-30,5109103,71,7047,2017-07-01 00:00:49,2017-07-01 00:06:17,2017-07-01 00:06:17
1141136,2017-06-30,5109103,72,7161,2017-07-01 00:01:08,2017-07-01 00:06:41,2017-07-01 00:06:41
1141577,2017-06-30,5109103,73,7162,2017-07-01 00:01:29,2017-07-01 00:07:03,2017-07-01 00:07:03

In [58]:
#ValueError: right keys must be sorted
weather = weather.sort_values('actual_arr')
weather

,actual_arr,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
73487,2016-01-01 00:00:00,0,0.0,0,1.2,0,0.7,-0.2,6.0,90.0,1016.2
73488,2016-01-01 01:00:00,0,0.0,0,1.5,0,0.8,-0.7,5.8,85.0,1016.2
73489,2016-01-01 02:00:00,0,0.0,0,-0.2,0,-0.6,-1.3,5.6,92.0,1016.4
73490,2016-01-01 03:00:00,0,0.0,0,-0.7,0,-1.0,-1.4,5.5,95.0,1016.3
73491,2016-01-01 04:00:00,0,0.0,0,-0.3,0,-0.6,-1.2,5.6,94.0,1016.2
73492,2016-01-01 05:00:00,0,0.0,0,2.4,0,1.4,-0.3,6.0,82.0,1015.4
73493,2016-01-01 06:00:00,0,0.0,0,2.9,0,1.9,0.4,6.3,83.0,1014.6
73494,2016-01-01 07:00:00,0,0.0,0,2.5,0,1.8,0.7,6.4,88.0,1014.0
73495,2016-01-01 08:00:00,0,0.0,0,4.9,0,3.7,1.9,7.0,80.0,1013.0
73496,2016-01-01 09:00:00,0,0.0,0,6.3,0,5.0,3.3,7.7,81.0,1011.9
73497,2016-01-01 10:00:00,0,0.0,0,7.6,0,6.5,5.0,8.7,83.0,1011.0
73498,2016-01-01 11:00:00,0,0.0,0,7.8,0,6.6,5.1,8.8,83.0,1009.5
73499,2016-01-01 12:00:00,0,0.0,0,8.1,0,6.9,5.4,9.0,83.0,1007.9
73500,2016-01-01 13:00:00,0,0.7,0,7.2,0,6.8,6.3,9.6,93.0,1006.1
73501,2016-01-01 14:00:00,0,0.7,0,7.4,0,7.1,6.7,9.8,95.0,1004.0
73502,2016-01-01 15:00:00,0,0.5,0,7.8,0,7.5,7.2,10.2,95.0,1002.2
73503,2016-01-01 16:00:00,0,1.0,0,8.1,0,8.0,7.8,10.6,98.0,1001.2
73504,2016-01-01 17:00:00,0,1.8,0,8.5,0,8.2,7.9,10.7,96.0,1000.2
73505,2016-01-01 18:00:00,0,1.1,0,8.5,0,8.4,8.3,11.0,98.0,999.3
73506,2016-01-01 19:00:00,0,1.2,0,8.6,0,8.4,8.2,10.9,97.0,998.6
73507,2016-01-01 20:00:00,0,1.8,0,8.4,0,8.0,7.4,10.3,93.0,997.8
73508,2016-01-01 21:00:00,0,1.2,0,8.5,0,8.2,7.9,10.6,96.0,996.5
73509,2016-01-01 22:00:00,0,0.8,0,8.5,0,8.3,8.1,10.8,97.0,995.6
73510,2016-01-01 23:00:00,0,0.4,0,8.4,0,8.2,8.0,10.8,97.0,995.0
73511,2016-01-02 00:00:00,0,0.8,0,8.2,0,8.2,8.1,10.8,99.0,994.1
73512,2016-01-02 01:00:00,0,0.2,0,8.8,0,8.2,7.6,10.5,92.0,993.7
73513,2016-01-02 02:00:00,0,0.1,0,8.7,0,8.4,8.1,10.8,95.0,992.8
73514,2016-01-02 03:00:00,0,0.4,0,8.8,0,8.6,8.5,11.1,97.0,992.6
73515,2016-01-02 04:00:00,0,0.2,0,9.2,0,8.8,8.3,10.9,93.0,992.8
73516,2016-01-02 05:00:00,0,0.0,0,9.4,0,9.1,8.8,11.3,95.0,993.0
...,...,...,...,...,...,...,...,...,...,...,...
91002,2017-12-30 19:00:00,0,0.0,0,8.3,0,6.4,3.9,8.1,73.0,993.8
91003,2017-12-30 20:00:00,0,0.0,0,9.3,0,6.7,3.4,7.8,66.0,992.3
91004,2017-12-30 21:00:00,0,0.0,0,8.6,0,6.5,3.8,8.0,71.0,990.3
91005,2017-12-30 22:00:00,0,0.1,0,7.7,0,6.9,5.8,9.2,87.0,987.6
91006,2017-12-30 23:00:00,0,0.2,0,9.0,0,7.6,5.9,9.3,81.0,984.8
91007,2017-12-31 00:00:00,0,0.0,0,11.0,0,9.5,7.8,10.6,80.0,982.7
91008,2017-12-31 01:00:00,0,0.0,0,11.8,0,9.8,7.8,10.6,76.0,983.0
91009,2017-12-31 02:00:00,0,0.0,0,11.2,0,9.1,6.9,9.9,74.0,983.0
91010,2017-12-31 03:00:00,0,0.0,0,10.6,0,7.2,2.7,7.4,57.0,983.6
91011,2017-12-31 04:00:00,0,0.0,0,8.9,0,6.3,2.7,7.4,65.0,984.7
91012,2017-12-31 05:00:00,0,0.1,0,7.8,0,5.6,2.6,7.4,69.0,984.8
91013,2017-12-31 06:00:00,0,0.0,0,6.9,0,5.1,2.5,7.3,73.0,985.6
91014,2017-12-31 07:00:00,0,0.0,0,6.7,0,5.0,2.4,7.3,74.0,986.2
91015,2017-12-31 08:00:00,0,0.0,0,6.9,0,5.0,2.4,7.3,73.0,986.7
91016,2017-12-31 09:00:00,0,0.0,0,6.4,0,4.6,1.9,7.0,72.0,987.1
91017,2017-12-31 10:00:00,0,0.0,0,6.9,0,5.0,2.2,7.2,71.0,987.3
91018,2017-12-31 11:00:00,0,0.0,0,7.8,0,5.6,2.5,7.3,69.0,987.0
91019,2017-12-31 12:00:00,0,0.0,0,8.1,0,5.9,2.8,7.5,69.0,986.0
91020,2017-12-31 13:00:00,0,0.0,0,8.4,0,6.3,3.5,7.9,71.0,985.7
91021,2017-12-31 14:00:00,0,0.0,0,7.8,0,6.2,4.3,8.3,78.0,985.4
91022,2017-12-31 15:00:00,0,0.1,0,6.0,0,5.0,3.6,7.9,84.0,985.8
91023,2017-12-31 16:00:00,0,0.4,0,5.0,0,4.1,2.9,7.5,85.0,985.7
91024,2017-12-31 17:00:00,0,0.0,0,5.2,0,4.3,3.2,7.7,87.0,986.4
91025,2017-12-31 18:00:00,0,0.0,0,4.7,0,4.1,3.1,7.7,89.0,987.9
91026,2017-12-31 19:00:00,0,0.0,0,4.5,0,3.8,2.7,7.4,87.0,989.3
91027,2017-12-31 20:00:00,0,0.0,0,4.2,0,3.2,1.8,7.0,84.0,990.3
91028,2017-12-31 21:00:00,0,0.0,0,4.6,0,3.4,1.6,6.8,80.0,991.1
91029,2017-12-31 22:00:00,0,0.1,0,4.3,0,3.1,1.3,6.7,80.0,990.7
91030,2017-12-31 23:00:00,0,0.0,0,4.2,0,3.0,1.2,6.6,80.0,990.6
91031,2018-01-01 00:00:00,0,0.0,0,4.6,0,3.5,1.8,6.9,82.0,991.0

In [59]:
#Merge
#pd.merge_asof(trades, quotes, on='time', by='ticker', tolerance=pd.Timedelta('2ms'))
pd.merge_asof(df39A_40l,weather,on='actual_arr',tolerance=pd.Timedelta('1h'))

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
0,2016-01-09,2784478,1,767,2016-01-09 06:30:00,2016-01-09 06:29:51,2016-01-09 06:29:51,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
1,2016-01-09,2784478,2,768,2016-01-09 06:32:23,2016-01-09 06:31:26,2016-01-09 06:31:26,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
2,2016-01-09,2784478,3,769,2016-01-09 06:32:48,2016-01-09 06:31:45,2016-01-09 06:31:45,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
3,2016-01-09,2784478,4,770,2016-01-09 06:33:35,2016-01-09 06:32:15,2016-01-09 06:32:15,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
4,2016-01-09,2784478,5,771,2016-01-09 06:33:54,2016-01-09 06:32:24,2016-01-09 06:32:24,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
5,2016-01-09,2784478,6,772,2016-01-09 06:34:33,2016-01-09 06:33:05,2016-01-09 06:33:05,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
6,2016-01-09,2784478,7,773,2016-01-09 06:34:57,2016-01-09 06:33:27,2016-01-09 06:33:44,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
7,2016-01-09,2784478,8,774,2016-01-09 06:35:25,2016-01-09 06:34:03,2016-01-09 06:34:03,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
8,2016-01-09,2784478,9,775,2016-01-09 06:36:04,2016-01-09 06:34:33,2016-01-09 06:34:33,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
9,2016-01-09,2784478,10,776,2016-01-09 06:36:37,2016-01-09 06:34:55,2016-01-09 06:34:55,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
10,2016-01-09,2784478,11,777,2016-01-09 06:36:56,2016-01-09 06:35:13,2016-01-09 06:35:24,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
11,2016-01-09,2784478,12,779,2016-01-09 06:37:19,2016-01-09 06:36:01,2016-01-09 06:36:01,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
12,2016-01-09,2784478,13,780,2016-01-09 06:37:52,2016-01-09 06:36:20,2016-01-09 06:36:20,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
13,2016-01-09,2784478,14,781,2016-01-09 06:38:15,2016-01-09 06:36:38,2016-01-09 06:36:38,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
14,2016-01-09,2784478,15,782,2016-01-09 06:38:35,2016-01-09 06:37:10,2016-01-09 06:37:10,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
15,2016-01-09,2784478,16,783,2016-01-09 06:39:05,2016-01-09 06:37:32,2016-01-09 06:37:32,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
16,2016-01-09,2784478,17,784,2016-01-09 06:39:27,2016-01-09 06:37:47,2016-01-09 06:37:59,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
17,2016-01-09,2784478,18,785,2016-01-09 06:40:04,2016-01-09 06:38:33,2016-01-09 06:38:33,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
18,2016-01-09,2784478,19,786,2016-01-09 06:41:10,2016-01-09 06:39:25,2016-01-09 06:39:25,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
19,2016-01-09,2784478,20,793,2016-01-09 06:43:06,2016-01-09 06:42:01,2016-01-09 06:42:01,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
20,2016-01-09,2784478,21,7576,2016-01-09 06:43:22,2016-01-09 06:42:21,2016-01-09 06:42:21,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
21,2016-01-09,2784478,22,7586,2016-01-09 06:44:28,2016-01-09 06:43:13,2016-01-09 06:43:13,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
22,2016-01-09,2784478,23,7587,2016-01-09 06:45:49,2016-01-09 06:45:07,2016-01-09 06:45:07,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
23,2016-01-09,2784478,24,7588,2016-01-09 06:46:21,2016-01-09 06:45:17,2016-01-09 06:45:17,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
24,2016-01-09,2784522,1,767,2016-01-09 06:45:00,2016-01-09 06:46:18,2016-01-09 06:46:18,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
25,2016-01-09,2784522,2,768,2016-01-09 06:47:23,2016-01-09 06:47:43,2016-01-09 06:47:59,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
26,2016-01-09,2784522,3,769,2016-01-09 06:47:48,2016-01-09 06:48:22,2016-01-09 06:48:22,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
27,2016-01-09,2784478,25,328,2016-01-09 06:48:16,2016-01-09 06:48:30,2016-01-09 06:49:24,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
28,2016-01-09,2784522,4,770,2016-01-09 06:48:35,2016-01-09 06:48:55,2016-01-09 06:48:55,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
29,2016-01-09,2784522,5,771,2016-01-09 06:48:54,2016-01-09 06:49:03,2016-01-09 06:49:03,0,0.0,0,2.2,0,2.2,2.1,7.1,99.0,985.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220730,2017-06-30,5114015,64,6110,2017-06-30 23:38:03,2017-06-30 23:53:12,2017-06-30 23:53:21,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220731,2017-06-30,5109103,54,1874,2017-06-30 23:53:35,2017-06-30 23:53:22,2017-06-30 23:53:34,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220732,2017-06-30,5109103,55,1875,2017-06-30 23:54:09,2017-06-30 23:53:57,2017-06-30 23:54:09,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220733,2017-06-30,5114015,65,7020,2017-06-30 23:38:32,2017-06-30 23:54:25,2017-06-30 23:54:39,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220734,2017-06-30,5109103,56,1876,2017-06-30 23:54:43,2017-06-30 23:54:35,2017-06-30 23:54:52,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220735,2017-06-30,5114015,66,7029,2017-06-30 23:38:43,2017-06-30 23:55:02,2017-06-30 23:55:02,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220736,2017-06-30,5109103,57,1877,2017-06-30 23:55:33,2017-06-30 23:55:26,2017-06-30 23:55:35,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220737,2017-06-30,5114015,67,7038,2017-06-30 23:39:03,2017-06-30 23:55:43,2017-06-30 23:56:00,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220738,2017-06-30,5109103,58,1878,2017-06-30 23:55:54,2017-06-30 23:56:09,2017-06-30 23:56:20,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220739,2017-06-30,5114015,68,7011,2017-06-30 23:39:31,2017-06-30 23:56:58,2017-06-30 23:57:11,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220740,2017-06-30,5109103,59,1879,2017-06-30 23:56:17,2017-06-30 23:57:09,2017-06-30 23:57:09,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220741,2017-06-30,5109103,60,1899,2017-06-30 23:56:41,2017-06-30 23:57:47,2017-06-30 23:58:01,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220742,2017-06-30,5114015,69,2171,2017-06-30 23:40:12,2017-06-30 23:58:17,2017-06-30 23:58:17,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220743,2017-06-30,5114015,70,7160,2017-06-30 23:40:20,2017-06-30 23:58:32,2017-06-30 23:58:39,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220744,2017-06-30,5109103,61,6107,2017-06-30 23:56:53,2017-06-30 23:58:34,2017-06-30 23:58:34,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220745,2017-06-30,5109103,62,6108,2017-06-30 23:57:10,2017-06-30 23:58:57,2017-06-30 23:59:08,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220746,2017-06-30,5114015,71,7047,2017-06-30 23:40:49,2017-06-30 23:59:27,2017-06-30 23:59:27,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220747,2017-06-30,5109103,63,6109,2017-06-30 23:57:30,2017-06-30 23:59:41,2017-06-30 23:59:55,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220748,2017-06-30,5114015,72,7161,2017-06-30 23:41:08,2017-06-30 23:59:55,2017-06-30 23:59:55,0,0.0,0,8.2,0,7.8,7.2,10.1,93.0,1017.9
1220749,2017-06-30,5109103,64,6110,2017-06-30 23:58:03,2017-07-01 00:00:41,2017-07-01 00:01:03,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220750,2017-06-30,5109103,65,7020,2017-06-30 23:58:32,2017-07-01 00:01:50,2017-07-01 00:01:50,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220751,2017-06-30,5114015,73,7162,2017-06-30 23:41:29,2017-07-01 00:01:53,2017-07-01 00:01:53,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220752,2017-06-30,5109103,66,7029,2017-06-30 23:58:43,2017-07-01 00:02:06,2017-07-01 00:02:18,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220753,2017-06-30,5109103,67,7038,2017-06-30 23:59:03,2017-07-01 00:02:58,2017-07-01 00:03:11,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220754,2017-06-30,5109103,68,7011,2017-06-30 23:59:31,2017-07-01 00:04:04,2017-07-01 00:04:17,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220755,2017-06-30,5109103,69,2171,2017-07-01 00:00:12,2017-07-01 00:05:26,2017-07-01 00:05:26,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220756,2017-06-30,5109103,70,7160,2017-07-01 00:00:20,2017-07-01 00:05:35,2017-07-01 00:05:35,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220757,2017-06-30,5109103,71,7047,2017-07-01 00:00:49,2017-07-01 00:06:17,2017-07-01 00:06:17,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220758,2017-06-30,5109103,72,7161,2017-07-01 00:01:08,2017-07-01 00:06:41,2017-07-01 00:06:41,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2
1220759,2017-06-30,5109103,73,7162,2017-07-01 00:01:29,2017-07-01 00:07:03,2017-07-01 00:07:03,0,0.0,0,8.2,0,7.8,7.2,10.2,93.0,1018.2