In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Test/leavetimes/39A_41l',names=['dayofservice','tripid','progrnumber','stopid','plannedtime',
                                                         'actual_arr','actual_dep'])
df.head()

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
0,19-FEB-16,2854078,14,781,85092,84837,84837
1,19-FEB-16,2854078,9,775,84944,84724,84724
2,19-FEB-16,2854078,24,7588,85656,85607,85607
3,19-FEB-16,2854078,23,7587,85625,85581,85581
4,19-FEB-16,2854078,22,7586,85546,85481,85481

In [4]:
#Check if it's the same thing
df.loc[(df.progrnumber == 1)].stopid.unique()

array([767])

In [8]:
#The first stop, obviously is the 767, same as 40.
df.sort_values('progrnumber',ascending=False)

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep
2778,22-JUN-16,3269109,25,328,85806,85688,85688
4875,20-APR-17,4575166,25,328,85811,85868,85868
4810,22-FEB-17,4388898,25,328,85878,86227,86227
1104,27-JUN-16,3278701,25,328,85806,85763,85763
3020,01-MAR-16,2893291,25,328,85724,85387,85387
2236,15-FEB-16,2854078,25,328,85769,85623,85623
2237,12-FEB-16,2818069,25,328,85769,85956,85956
784,14-MAY-16,3031663,25,328,84900,85145,85145
4788,11-MAR-17,4392161,25,328,85768,86554,86554
4337,20-JUN-17,5093994,25,328,85980,85784,85784
3373,29-MAR-17,4519841,25,328,85811,85508,85508
1311,01-FEB-16,2818069,25,328,85769,86461,86461
1029,07-APR-16,3009207,25,328,85604,85670,85670
2707,21-APR-16,3009207,25,328,85604,85605,85605
4766,02-MAR-17,4388898,25,328,85878,86122,86122
159,20-FEB-16,2856433,25,328,85315,85417,85417
4161,09-JUN-17,5012702,25,328,85980,85902,85902
3348,13-JAN-17,4088330,25,328,86164,85636,85636
1298,09-APR-16,3006663,25,328,86163,85975,85975
804,14-MAY-16,3035950,25,328,85800,86207,86207
3327,22-MAR-17,4515787,25,328,85739,85586,85586
258,11-MAR-16,2893291,25,328,85724,85844,85844
4763,24-FEB-17,4388898,25,328,85878,85978,85978
3308,17-JAN-17,4088330,25,328,86164,85521,85521
2301,01-APR-16,2911274,25,328,85604,86292,86292
2303,22-MAR-16,2911274,25,328,85604,85879,85879
428,18-FEB-16,2854078,25,328,85769,85765,85765
2214,25-JUN-16,3265162,25,328,86302,86058,86058
2213,25-JUN-16,3265971,25,328,85402,85368,85368
4134,06-MAR-17,4388898,25,328,85878,85500,85500
...,...,...,...,...,...,...,...
108,15-JUN-16,3219840,1,767,84600,84596,84596
1012,07-APR-16,3009207,1,767,84600,84565,84565
2359,03-JUN-16,3205676,1,767,84600,84739,84739
1668,30-JAN-16,2784382,1,767,84600,84553,84553
4896,19-APR-17,4575166,1,767,84600,84413,84413
1371,01-JUN-16,3205676,1,767,84600,84572,84572
2899,20-JUN-16,3269109,1,767,84600,84597,84597
4431,10-APR-17,4575166,1,767,84600,84614,84614
4247,11-MAY-17,4594936,1,767,84600,84570,84570
407,27-APR-16,3023299,1,767,84600,84608,84608
2463,23-MAR-16,2911274,1,767,84600,84610,84610
805,18-JUN-16,3219841,1,767,84600,84354,84354
3495,20-FEB-17,4388898,1,767,84600,84581,84581
1667,26-FEB-16,2869742,1,767,84600,84541,84541
107,09-FEB-16,2818069,1,767,84600,84452,84452
4215,07-MAR-17,4388898,1,767,84600,84623,84623
4919,06-FEB-17,4334970,1,767,84600,84549,84549
3795,08-APR-17,4525869,1,767,83700,83708,83708
4699,03-JAN-17,4088330,1,767,84600,84441,84441
3124,18-APR-16,3009207,1,767,84600,84606,84606
806,18-JUN-16,3219842,1,767,83700,82462,82462
3941,09-FEB-17,4334970,1,767,84600,84614,84614
1204,11-MAY-16,3023299,1,767,84600,84649,84649
2691,10-JUN-16,3219840,1,767,84600,84435,84435
4226,10-JAN-17,4088330,1,767,84600,84583,84583
3141,02-MAR-16,2893291,1,767,84600,84574,84574
3328,13-JAN-17,4088330,1,767,84600,84285,84285
3948,06-JAN-17,4088330,1,767,84600,84523,84523
3667,08-MAR-17,4388898,1,767,84600,84523,84523
4879,27-FEB-17,4388898,1,767,84600,84315,84315

In [9]:
df.shape

(5128, 7)

In [ ]:
#It doesn't go all the way to the end. Crap.
df.dayofservice = df.dayofservice.astype('datetime64[ns]')
df['datetime'] = df.dayofservice + pd.to_timedelta(df.actual_arr,unit='s')