In [2]:
import pandas as pd
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statsmodels.formula.api as sm
from sklearn import linear_model, preprocessing
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, mean_absolute_error
import time

In [88]:
pd.set_option('display.max_columns', 500)

In [35]:
import time
def timeit(method):
    '''A time decorator to time other functions.'''
    def timed(*args, **kw):
        ts = time.time()
        result = method(*args, **kw)
        te = time.time()
        if 'log_time' in kw:
            name = kw.get('log_name', method.__name__.upper())
            kw['log_time'][name] = int((te - ts) * 1000)
        else:
            print ('%r  %2.2f ms' %(method.__name__, (te - ts) * 1000))
        return result
    return timed

In [78]:
import pickle
def save_obj(obj, name ):
    with open('obj/'+ name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)
        
def append_obj(obj,name):
    with open('obj/'+ name + '.pkl', 'ab') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)
        
def load_obj(name ):
    if name.endswith('.pkl'):
        with open('obj/' + name, 'rb') as f:
            return pickle.load(f)
    with open('obj/' + name + '.pkl', 'rb') as f:
        return pickle.load(f)

### Train&Predict Class

Class that reads in a cleaned df a set of xCols and a target feature. Has methods for MSE, MAE and Variance

In [1]:
class LinearTrainPredict:
    
    def __init__ (self, df, xCol, y, name=""):
        self.df = df
        self.xCol = xCol
        self.y = y
        self.__split = int(self.df.shape[0]*0.7)
        self.__X = pd.get_dummies(self.df[self.Xcol],drop_first=True)
        self.__xTrain, self.__xTest = self.__X[:self.__split], self.__X[self.__split:]
        self.__yTrain, self.__yTest = self.df[self.y][:self.__split], self.df[self.y][self.__split:]
        self.__regr = linear_model.LinearRegression()
        if name == ""
            pass
        else:
            with open('obj/'+ name + '.pkl', 'wb') as f:
                pickle.dump(self.__regr, f, pickle.HIGHEST_PROTOCOL)
        self.__regr.fit(self.__xTrain, self.__yTrain)
        self.yPred = self.__regr.predict(self.__xTest)
        
    def mSqErr(self):
        return mean_squared_error(self.__yTest,self.yPred)
        
    def mAbsErr(self):
        return mean_absolute_error(self.__yTest,self.yPred)
    
    def varScore(self):
        return r2_score(self.__yTest,self.yPred)

## Cleaning Dfs

Some fucntions that clean dfs and adds features such as weekday and month integers

In [43]:
#def dateManipulations(df, dateCol, arrCol, m=False, d=False, weekendSplit=False):
def dateManipulations(df, d=False, weekendSplit=False):
    
    
    # ? Duplicate with the weatherInfo function here...
    #df.dateCol = df.dateCol.astype('datetime64[ns]')
    #df['datetime'] = df.dateCol + pd.to_timedelta(df.arrCol, unit = 's')
    # ?
    
    '''
    #We don't use month as a feature anymore, this block can be deleted.
    
    #if m == False:
    #Suggest change to:
    if not m:
        pass
    
    #Suggest change to:
    elif m:
    #elif m == True:
        df['month'] = df.dateCol.map(lambda x: x.month)
    else:
        return 'Error in month input, must be True or False!'
    
    
    #same as above.
    #if d == False:
    if not d:
        pass
    
    #elif d == True:
    elif d:
        df['weekday'] = df.dateCol.dt.dayofweek
    else:
        return 'Error in day input, must be True or False!'
    '''
    #suggest change to:
    if weekendSplit and d:
    #if weekendSplit == True && d == True:
        
        #df['m2f'] = np.where((df.weekday ==0) & (df.weekday ==1) & (df.weekday ==2) & (df.weekday ==3) & (df.weekday ==4),1,0)
        #Suggest change to:
        df['m2f'] = np.where(df.weekday <= 4, 1,0)
        df['sat'] = np.where((df.weekday == 5),1,0)
        
    #same above
    elif not weekendSplit:
    #elif weekendSplit == False:
        pass
    #elif weekendSplit == True && d == False:
    elif weekendSplit and not d:
        return 'Error, must have weekday column for weekend split'
    else:
        return 'Error in weekend split input, must be True or False!'
    return df

In [5]:
def addPeakHours(df, timeOfDayCol):
    df['em'] = np.where((df[timeOfDayCol] > 14400) & (df[timeOfDayCol] <=  25200),1,0)
    df['mp'] = np.where((df[timeOfDayCol] > 25200) & (df[timeOfDayCol] <=  36000),1,0)
    df['lm'] = np.where((df[timeOfDayCol] > 36000) & (df[timeOfDayCol] <=  46800),1,0)
    df['md'] = np.where((df[timeOfDayCol] > 46800) & (df[timeOfDayCol] <=  47600),1,0)
    df['ap'] = np.where((df[timeOfDayCol] > 47600) & (df[timeOfDayCol] <=  68400),1,0)
    df['ev'] = np.where((df[timeOfDayCol] > 68400) & (df[timeOfDayCol] <=  79200),1,0)
    df['ln'] = np.where((df[timeOfDayCol] > 79200) & (df[timeOfDayCol] <=  90000),1,0)
    return df

In [73]:
def addStartTime(df):
    '''This function will take a dataframe, extract the start time of each trip then append it to  each row.'''
    
    startTime = df.loc[df.progrnumber == 1]
    startTime = startTime.drop(['progrnumber', 'stopid', 'plannedtime','actual_arr', 'datetime', 'weekday', 'rain', 'temp'],1)
    startTime.columns = ['dayofservice','tripid','tripStart']
    result = pd.merge(df,startTime,on=['dayofservice','tripid'])
    #print("result columns:",result.columns)
    result['tripTravelTime'] = result.actual_arr - result.tripStart 
    return result

### Weather Function
Basic function that reads in the weather csv, formats it and merges it with supplied data, returning the merged datframe

### I cleaned this function a little bit. -Wang

In [63]:
weather = pd.read_csv('CleanedWeather2016_17C.csv')
weather.head()

              datetime  rain  temp
0  2016-01-01 00:00:00   0.0   1.2
1  2016-01-01 01:00:00   0.0   1.5
2  2016-01-01 02:00:00   0.0  -0.2
3  2016-01-01 03:00:00   0.0  -0.7
4  2016-01-01 04:00:00   0.0  -0.3

In [64]:
weather.datetime.dtype

dtype('O')

In [65]:
def weatherInfo(data):
    '''Add weather information (temp, precipitation) to the dataframe.'''
    
    weather = pd.read_csv('CleanedWeather2016_17C.csv')#,index_col=0)
    weather.datetime = weather.datetime.astype('datetime64[ns]')
    
    data.dayofservice = data.dayofservice.astype('datetime64[ns]')
    data['datetime'] = data.dayofservice + pd.to_timedelta(data.actual_arr,unit='s')
    data['weekday'] = data.dayofservice.dt.dayofweek
    data = data.sort_values('datetime')
    #data = data.reset_index()
    data[['tripid','progrnumber']] = data[['tripid','progrnumber']].astype('int')
    df = pd.merge_asof(data,weather,on='datetime',tolerance=pd.Timedelta('1h'))
    
    return df

In [44]:
def addUCDTerm(df):
    '''Add historical UCD Term for first half years of 2016 and 2017.'''
    df['ucdSchoolTerm'] = np.where(((df['dayofservice'] >= '2016-01-25') & (df['dayofservice'] <= '2016-04-29'))
                                     | ((df['dayofservice'] >= '2016-05-09') & (df['dayofservice'] <= '2016-05-21'))
                                     | ((df['dayofservice'] >= '2017-01-23') & (df['dayofservice'] <= '2016-04-28'))
                                     | ((df['dayofservice'] >= '2016-05-08') & (df['dayofservice'] <= '2016-05-19'))
                                     ,1,0)
    return df

In [46]:
'102_10l'.split('_')

['102', '10l']

In [53]:
import fnmatch, os
for file in os.listdir('obj/stopDicts/'):
    #print(file)
    if fnmatch.fnmatch(file, '39A_767_7162_*'):
        print(file)

39A_767_7162_Ongar.pkl

In [92]:
import numpy as np
@timeit
def dataPreparation(file):
    '''
    Prepare the data and return the prepared dataframe.
    Will have columns:
    ['progrnumber','plannedtime','rain','weekday','shape_dist_traveled','em','mp','lm','md','ap','ev','ln','temp','m2f','sat',
    'ucdSchoolTerm']
    '''
    
    df = pd.read_csv(file,names=['dayofservice','tripid','progrnumber','stopid','plannedtime','actual_arr','actual_dep'])
    #print("Read in:",df.columns)
    
    line = str(file.split('/')[-1].split('_')[0])
    #print("Line:",line)
    if not df.loc[df.progrnumber == 1].empty:
        startStop = str(df.loc[df.progrnumber == 1,'stopid'].values[0])
        #print("startStop:",startStop)
        
        #dfMerged.loc[dfMerged.progrnumber.idxmax(),'stopid']
        endStop = str(df.loc[df.progrnumber.idxmax(),'stopid'])
        #print("endStop:",endStop)

        #add weather and initial cleaning.
        df = weatherInfo(df)

        #print("After weatherInfo:",df.columns)
        #add start time
        df = addStartTime(df)

        #add distance
        #read in specific pkl in
        for file in os.listdir('obj/stopDicts/'):
        #print(file)
            if fnmatch.fnmatch(file, line+'_'+startStop+'_'+ endStop+ '_*'):
                disDict = load_obj('stopDicts/'+file)
                disdf = pd.DataFrame.from_dict(disDict,orient='index',columns=['distance'])
                df = pd.merge(df,disdf,left_on=['stopid'],right_index=True)

                #add period
                df = addPeakHours(df,'actual_arr')

                #add weekday
                df = dateManipulations(df,True,True)

                #add UCD Term
                df = addUCDTerm(df)
                
                identifier = (line, startStop, endStop)
    
                return df, identifier

In [87]:
testdf = dataPreparation('Test/leavetimes/39A_41l')
testdf.head()

'dataPreparation'  1240.78 ms

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,datetime,weekday,rain,...,em,mp,lm,md,ap,ev,ln,m2f,sat,ucdSchoolTerm
0,2016-01-09,2784381,1,767,83700,83586,83586,2016-01-09 23:13:06,5,4.4,...,0,0,0,0,0,0,1,0,1,0
25,2016-01-09,2784382,1,767,84600,84561,84561,2016-01-09 23:29:21,5,4.4,...,0,0,0,0,0,0,1,0,1,0
49,2016-01-16,2784381,1,767,83700,83392,83392,2016-01-16 23:09:52,5,0.1,...,0,0,0,0,0,0,1,0,1,0
50,2016-01-16,2784382,1,767,84600,84570,84570,2016-01-16 23:29:30,5,0.1,...,0,0,0,0,0,0,1,0,1,0
75,2016-01-23,2784381,1,767,83700,83685,83685,2016-01-23 23:14:45,5,0.0,...,0,0,0,0,0,0,1,0,1,0

In [90]:
testdf

,dayofservice,tripid,progrnumber,stopid,plannedtime,actual_arr,actual_dep,datetime,weekday,rain,temp,tripStart,tripTravelTime,distance,em,mp,lm,md,ap,ev,ln,m2f,sat,ucdSchoolTerm
0,2016-01-09,2784381,1,767,83700,83586,83586,2016-01-09 23:13:06,5,4.4,3.0,83586,0,0.000000,0,0,0,0,0,0,1,0,1,0
25,2016-01-09,2784382,1,767,84600,84561,84561,2016-01-09 23:29:21,5,4.4,3.0,84561,0,0.000000,0,0,0,0,0,0,1,0,1,0
49,2016-01-16,2784381,1,767,83700,83392,83392,2016-01-16 23:09:52,5,0.1,4.8,83392,0,0.000000,0,0,0,0,0,0,1,0,1,0
50,2016-01-16,2784382,1,767,84600,84570,84570,2016-01-16 23:29:30,5,0.1,4.8,84570,0,0.000000,0,0,0,0,0,0,1,0,1,0
75,2016-01-23,2784381,1,767,83700,83685,83685,2016-01-23 23:14:45,5,0.0,12.4,83685,0,0.000000,0,0,0,0,0,0,1,0,1,0
100,2016-01-30,2784381,1,767,83700,83635,83635,2016-01-30 23:13:55,5,0.0,2.8,83635,0,0.000000,0,0,0,0,0,0,1,0,1,1
125,2016-01-30,2784382,1,767,84600,84553,84553,2016-01-30 23:29:13,5,0.0,2.8,84553,0,0.000000,0,0,0,0,0,0,1,0,1,1
149,2016-02-02,2818069,1,767,84600,84613,84613,2016-02-02 23:30:13,1,0.0,1.9,84613,0,0.000000,0,0,0,0,0,0,1,1,0,1
170,2016-02-05,2818069,1,767,84600,84616,84616,2016-02-05 23:30:16,4,0.0,3.4,84616,0,0.000000,0,0,0,0,0,0,1,1,0,1
192,2016-02-06,2822742,1,767,83700,83683,83683,2016-02-06 23:14:43,5,0.0,3.7,83683,0,0.000000,0,0,0,0,0,0,1,0,1,1
217,2016-02-06,2812519,1,767,84600,84561,84561,2016-02-06 23:29:21,5,0.0,3.7,84561,0,0.000000,0,0,0,0,0,0,1,0,1,1
242,2016-02-08,2818069,1,767,84600,84616,84616,2016-02-08 23:30:16,0,0.0,3.8,84616,0,0.000000,0,0,0,0,0,0,1,1,0,1
263,2016-02-09,2818069,1,767,84600,84452,84452,2016-02-09 23:27:32,1,0.0,3.2,84452,0,0.000000,0,0,0,0,0,0,1,1,0,1
288,2016-02-10,2818069,1,767,84600,84527,84527,2016-02-10 23:28:47,2,0.0,-0.3,84527,0,0.000000,0,0,0,0,0,0,1,1,0,1
313,2016-02-11,2818069,1,767,84600,84486,84486,2016-02-11 23:28:06,3,0.0,3.4,84486,0,0.000000,0,0,0,0,0,0,1,1,0,1
338,2016-02-12,2818069,1,767,84600,84517,84517,2016-02-12 23:28:37,4,0.0,6.7,84517,0,0.000000,0,0,0,0,0,0,1,1,0,1
363,2016-02-13,2822742,1,767,83700,83760,83760,2016-02-13 23:16:00,5,0.0,5.7,83760,0,0.000000,0,0,0,0,0,0,1,0,1,1
387,2016-02-13,2812519,1,767,84600,84609,84609,2016-02-13 23:30:09,5,0.0,5.7,84609,0,0.000000,0,0,0,0,0,0,1,0,1,1
412,2016-02-15,2854078,1,767,84600,84595,84595,2016-02-15 23:29:55,0,0.0,1.1,84595,0,0.000000,0,0,0,0,0,0,1,1,0,1
434,2016-02-16,2854078,1,767,84600,84591,84591,2016-02-16 23:29:51,1,3.2,6.8,84591,0,0.000000,0,0,0,0,0,0,1,1,0,1
455,2016-02-19,2854078,1,767,84600,84584,84584,2016-02-19 23:29:44,4,0.0,7.8,84584,0,0.000000,0,0,0,0,0,0,1,1,0,1
475,2016-02-20,2856433,1,767,83700,83712,83712,2016-02-20 23:15:12,5,0.0,8.6,83712,0,0.000000,0,0,0,0,0,0,1,0,1,1
500,2016-02-22,2869742,1,767,84600,84609,84609,2016-02-22 23:30:09,0,0.0,2.3,84609,0,0.000000,0,0,0,0,0,0,1,1,0,1
521,2016-02-23,2869742,1,767,84600,84616,84616,2016-02-23 23:30:16,1,0.0,-1.7,84616,0,0.000000,0,0,0,0,0,0,1,1,0,1
546,2016-02-24,2869742,1,767,84600,84625,84625,2016-02-24 23:30:25,2,0.0,-1.3,84625,0,0.000000,0,0,0,0,0,0,1,1,0,1
571,2016-02-25,2869742,1,767,84600,84564,84564,2016-02-25 23:29:24,3,0.0,1.5,84564,0,0.000000,0,0,0,0,0,0,1,1,0,1
596,2016-02-26,2869742,1,767,84600,84541,84541,2016-02-26 23:29:01,4,0.0,6.1,84541,0,0.000000,0,0,0,0,0,0,1,1,0,1
620,2016-02-27,2868835,1,767,83700,83711,83711,2016-02-27 23:15:11,5,0.0,3.2,83711,0,0.000000,0,0,0,0,0,0,1,0,1,1
645,2016-02-27,2870301,1,767,84600,84682,84682,2016-02-27 23:31:22,5,0.0,3.2,84682,0,0.000000,0,0,0,0,0,0,1,0,1,1
670,2016-03-01,2893291,1,767,84600,84569,84569,2016-03-01 23:29:29,1,0.0,2.5,84569,0,0.000000,0,0,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3875,2017-03-31,4519841,25,328,85811,85963,85963,2017-03-31 23:52:43,4,0.0,7.1,84482,1481,9243.322928,0,0,0,0,0,0,1,1,0,0
3900,2017-04-03,4519841,25,328,85811,85661,85661,2017-04-03 23:47:41,0,0.0,9.9,84622,1039,9243.322928,0,0,0,0,0,0,1,1,0,0
3923,2017-04-04,4519841,25,328,85811,85860,85860,2017-04-04 23:51:00,1,0.0,8.9,84471,1389,9243.322928,0,0,0,0,0,0,1,1,0,0
3942,2017-04-05,4519841,25,328,85811,85690,85690,2017-04-05 23:48:10,2,0.0,9.3,84599,1091,9243.322928,0,0,0,0,0,0,1,1,0,0
3961,2017-04-06,4519841,25,328,85811,85696,85696,2017-04-06 23:48:16,3,0.0,8.3,84276,1420,9243.322928,0,0,0,0,0,0,1,1,0,0
3982,2017-04-07,4519841,25,328,85811,86491,86491,2017-04-08 00:01:31,4,0.0,4.0,85378,1113,9243.322928,0,0,0,0,0,0,1,1,0,0
4005,2017-04-08,4525869,25,328,84905,84781,84781,2017-04-08 23:33:01,5,0.0,7.9,83708,1073,9243.322928,0,0,0,0,0,0,1,0,1,0
4047,2017-04-10,4575166,25,328,85811,85601,85601,2017-04-10 23:46:41,0,0.0,5.3,84614,987,9243.322928,0,0,0,0,0,0,1,1,0,0
4072,2017-04-11,4575166,25,328,85811,85817,85817,2017-04-11 23:50:17,1,0.0,8.7,84609,1208,9243.322928,0,0,0,0,0,0,1,1,0,0
4096,2017-04-15,4577131,25,328,84905,84659,84659,2017-04-15 23:30:59,5,0.0,6.5,83576,1083,9243.322928,0,0,0,0,0,0,1,0,1,0
4120,2017-04-18,4575166,25,328,85811,85881,85881,2017-04-18 23:51:21,1,0.0,8.6,84278,1603,9243.322928,0,0,0,0,0,0,1,1,0,0
4144,2017-04-19,4575166,25,328,85811,85636,85636,2017-04-19 23:47:16,2,0.0,11.1,84413,1223,9243.322928,0,0,0,0,0,0,1,1,0,0
4168,2017-04-20,4575166,25,328,85811,85868,85868,2017-04-20 23:51:08,3,0.0,10.8,84277,1591,9243.322928,0,0,0,0,0,0,1,1,0,0
4188,2017-04-26,4594936,25,328,85811,85493,85493,2017-04-26 23:44:53,2,0.0,6.0,84602,891,9243.322928,0,0,0,0,0,0,1,1,0,0
4230,2017-05-08,4594936,25,328,85811,85738,85738,2017-05-08 23:48:58,0,0.0,5.1,84566,1172,9243.322928,0,0,0,0,0,0,1,1,0,0
4253,2017-05-11,4594936,25,328,85811,85655,85655,2017-05-11 23:47:35,3,0.0,11.7,84570,1085,9243.322928,0,0,0,0,0,0,1,1,0,0
4276,2017-05-12,4594936,25,328,85811,85751,85751,2017-05-12 23:49:11,4,0.0,11.4,84573,1178,9243.322928,0,0,0,0,0,0,1,1,0,0
4298,2017-05-13,4601067,25,328,85805,85824,85824,2017-05-13 23:50:24,5,0.0,8.8,84402,1422,9243.322928,0,0,0,0,0,0,1,0,1,0
4321,2017-05-23,4892418,25,328,85980,85653,85653,2017-05-23 23:47:33,1,0.0,14.2,84605,1048,9243.322928,0,0,0,0,0,0,1,1,0,0
4345,2017-05-30,5012702,25,328,85980,85481,85481,2017-05-30 23:44:41,1,0.0,10.6,84377,1104,9243.322928,0,0,0,0,0,0,1,1,0,0
4367,2017-05-31,5012702,25,328,85980,85627,85627,2017-05-31 23:47:07,2,0.0,14.6,84626,1001,9243.322928,0,0,0,0,0,0,1,1,0,0
4390,2017-06-01,5012702,25,328,85980,85531,85531,2017-06-01 23:45:31,3,0.0,11.9,84271,1260,9243.322928,0,0,0,0,0,0,1,1,0,0
4428,2017-06-07,5012702,25,328,85980,85536,85536,2017-06-07 23:45:36,2,0.0,14.1,84603,933,9243.322928,0,0,0,0,0,0,1,1,0,0
4452,2017-06-08,5012702,25,328,85980,86299,86299,2017-06-08 23:58:19,3,0.0,10.5,84613,1686,9243.322928,0,0,0,0,0,0,1,1,0,0
4476,2017-06-09,5012702,25,328,85980,85902,85902,2017-06-09 23:51:42,4,1.7,12.2,84275,1627,9243.322928,0,0,0,0,0,0,1,1,0,0
4501,2017-06-19,5093994,25,328,85980,85640,85640,2017-06-19 23:47:20,0,0.0,15.5,84637,1003,9243.322928,0,0,0,0,0,0,1,1,0,0
4524,2017-06-20,5093994,25,328,85980,85784,85784,2017-06-20 23:49:44,1,0.0,15.1,84583,1201,9243.322928,0,0,0,0,0,0,1,1,0,0
4549,2017-06-21,5093994,25,328,85980,85875,85875,2017-06-21 23:51:15,2,0.0,18.4,84275,1600,9243.322928,0,0,0,0,0,0,1,1,0,0
4593,2017-06-29,5117252,25,328,85980,85886,85886,2017-06-29 23:51:26,3,0.0,11.3,84280,1606,9243.322928,0,0,0,0,0,0,1,1,0,0
4617,2017-06-30,5117252,25,328,85980,85948,85948,2017-06-30 23:52:28,4,0.0,8.2,84587,1361,9243.322928,0,0,0,0,0,0,1,1,0,0

## Route Manipulation functions

Functions that uses stop_times.txt to generate features and a route Dictionary that will be used with model prediction

In [8]:
#Some of the work is once off, I suggest do it once not do it everytime we load in the txt.
import pandas as pd
stoptime = pd.read_csv('stop_times.txt')
#Only look at the rows for certain route.
stoptime['line'] = stoptime.trip_id.str.split('-').str[1]
stoptime = stoptime[stoptime.stop_id.str.contains(':') == False]
stoptime['stopid'] = stoptime.stop_id.str.slice(8,)
stoptime.stopid = stoptime['stopid'].astype('int64')
stoptime.to_csv('stop_timesC',index=False)

In [10]:
stoptime = pd.read_csv('stop_timesC')
#stoptime.dtypes
stoptime.head()

/home/student/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,line,stopid
0,3643.y102m.60-1-d12-1.1.O,15:40:00,15:40:00,8240DB000226,1,Sandymount,0,0,0.000000,1,226
1,3643.y102m.60-1-d12-1.1.O,15:40:47,15:40:47,8240DB000228,2,Sandymount,0,0,261.136188,1,228
2,3643.y102m.60-1-d12-1.1.O,15:41:26,15:41:26,8240DB000229,3,Sandymount,0,0,484.925289,1,229
3,3643.y102m.60-1-d12-1.1.O,15:42:30,15:42:30,8240DB000227,4,Sandymount,0,0,836.995679,1,227
4,3643.y102m.60-1-d12-1.1.O,15:43:09,15:43:09,8240DB000230,5,Sandymount,0,0,1066.461783,1,230

In [11]:
stoptime['tripmark'] = stoptime.trip_id.str.split('.').str[3]
stoptime.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,line,stopid,tripmark
0,3643.y102m.60-1-d12-1.1.O,15:40:00,15:40:00,8240DB000226,1,Sandymount,0,0,0.000000,1,226,1
1,3643.y102m.60-1-d12-1.1.O,15:40:47,15:40:47,8240DB000228,2,Sandymount,0,0,261.136188,1,228,1
2,3643.y102m.60-1-d12-1.1.O,15:41:26,15:41:26,8240DB000229,3,Sandymount,0,0,484.925289,1,229,1
3,3643.y102m.60-1-d12-1.1.O,15:42:30,15:42:30,8240DB000227,4,Sandymount,0,0,836.995679,1,227,1
4,3643.y102m.60-1-d12-1.1.O,15:43:09,15:43:09,8240DB000230,5,Sandymount,0,0,1066.461783,1,230,1

In [14]:
stoptime[['stop_sequence','stop_headsign','shape_dist_traveled','line','stopid','tripmark']].drop_duplicates().to_csv('stop_timeCC',index=False)

In [ ]:
'''
I notice a situation that you cannot just use get unique to get all the unique route. This is because there are more than one
route for a bus line + direction. E.g.:
39aO has three combination, 
1. start from UCD(767), go to Ongar
2. start from UCD(767), go to Aston
3. start from Aston(328), go to Ongar.
Base on this kind of situation, I suggest we name route as 39a_767_7162_Ongar (busline+startstopid+endstopid+destinationStop).
This will guarantee we have all the routes and it would be clean and without dupilication.
'''

In [30]:
d = load_obj('stopDicts/39A_767_ Ongar')
d

{767: 0.0,
 768: 657.287066064875,
 769: 985.330520927881,
 770: 1429.24894221461,
 771: 1620.44696377974,
 772: 2127.48709498295,
 773: 3434.8578642479997,
 774: 3677.18821727873,
 775: 4001.74363072419,
 776: 4285.13185337461,
 777: 4493.83259606615,
 779: 4740.48732233394,
 780: 5009.04830237385,
 781: 5193.6587029476,
 782: 5357.09815442135,
 783: 5606.069766801032,
 784: 5776.637949866071,
 785: 6055.606335357479,
 786: 6545.589502681712,
 793: 7269.64182312836,
 7586: 7835.15763393275,
 7587: 8467.10980025078,
 7588: 8530.04627616102,
 328: 9243.322928124291,
 1443: 9826.568859010358,
 1444: 10107.2418629801,
 1445: 10417.1497368751,
 1647: 10939.5178555804,
 1648: 11272.5213698264,
 1649: 11469.3056185517,
 1911: 11995.4996735001,
 1913: 12337.7290265695,
 1914: 12592.8159362723,
 1805: 12806.0519246444,
 1806: 13196.947965981299,
 1660: 13713.2410577792,
 1661: 13997.7195279663,
 1662: 14322.374320031799,
 1664: 14788.0353517777,
 1665: 15079.2139210518,
 1666: 15297.9786348426,
 1807: 15967.1810641978,
 7167: 16369.8533845337,
 1808: 17103.152811295702,
 7389: 18513.6157131016,
 7025: 20668.56662585,
 4464: 21247.637917564498,
 1869: 21507.9762408622,
 1870: 21728.6060840384,
 1871: 21997.7051787869,
 1872: 22281.5037947158,
 1873: 22612.4879650431,
 1874: 22895.4121631934,
 1875: 23138.8029119334,
 1876: 23387.224631250898,
 1877: 23746.9918188,
 1878: 24123.2834825881,
 1879: 24537.666585506602,
 1899: 24969.4769196035,
 6107: 25191.7656265229,
 6108: 25502.7720573246,
 6109: 25868.320069861602,
 6110: 26456.658753571093,
 7020: 26997.648635589303,
 7029: 27197.0086661429,
 7038: 27567.268713262998,
 7011: 28078.4858492885,
 2171: 28824.5486652296,
 7160: 28975.920015846,
 7047: 29493.627107084103,
 7161: 29829.2320531325,
 7162: 30162.2693348186}

In [59]:
pd.DataFrame.from_dict(d,orient='index',columns=['distance'])

          distance
767       0.000000
768     657.287066
769     985.330521
770    1429.248942
771    1620.446964
772    2127.487095
773    3434.857864
774    3677.188217
775    4001.743631
776    4285.131853
777    4493.832596
779    4740.487322
780    5009.048302
781    5193.658703
782    5357.098154
783    5606.069767
784    5776.637950
785    6055.606335
786    6545.589503
793    7269.641823
7586   7835.157634
7587   8467.109800
7588   8530.046276
328    9243.322928
1443   9826.568859
1444  10107.241863
1445  10417.149737
1647  10939.517856
1648  11272.521370
1649  11469.305619
...            ...
7167  16369.853385
1808  17103.152811
7389  18513.615713
7025  20668.566626
4464  21247.637918
1869  21507.976241
1870  21728.606084
1871  21997.705179
1872  22281.503795
1873  22612.487965
1874  22895.412163
1875  23138.802912
1876  23387.224631
1877  23746.991819
1878  24123.283483
1879  24537.666586
1899  24969.476920
6107  25191.765627
6108  25502.772057
6109  25868.320070
6110  26456.658754
7020  26997.648636
7029  27197.008666
7038  27567.268713
7011  28078.485849
2171  28824.548665
7160  28975.920016
7047  29493.627107
7161  29829.232053
7162  30162.269335

[72 rows x 1 columns]

In [47]:
#Based on the discussion above, I changed this function into a function that run once and split all the routes into pickle file
# for later consideration:
#https://stackoverflow.com/questions/16497115/python-pickle-vs-sql-efficiency
#security issue? efficiency issue?...
@timeit
def getStops(file):
    
    '''get stops for a certain route from GTFS file.'''
    
    stoptime = pd.read_csv(file)
    '''
    #stoptime['line'] = stoptime.trip_id.str.split('-').str[1]
    #stoptime = stoptime[stoptime.stop_id.str.contains(':') == False]
    #stoptime['stopid'] = stoptime.stop_id.str.slice(8,)
    #stoptime.stopid = stoptime['stopid'].astype('int64')
    
    if outbound == True:
        routeDf = stoptime.loc[(stoptime.line == route) & (stoptime.trip_id.str.split('.').str[4]=='O')]
    elif outbound == False:
        routeDf = stoptime.loc[(stoptime.line == route) & (stoptime.trip_id.str.split('.').str[4]=='I')]
    else:
        return 'Error outbound must be True or False!'
    
    #Now there are many duplicate in the df, get unique.
    
    return routeDf[['stop_sequence','shape_dist_traveled', 'stopid']]
    
    header = ['stop_sequence','stop_headsign','shape_dist_traveled','line','stopid','tripmark']
    '''
    for line in stoptime.line.unique():
        for tm in stoptime.tripmark.unique():
            df = stoptime.loc[(stoptime.line == line) & (stoptime.tripmark == tm)]
            #print(df)
            if not df.empty and not df.loc[df.stop_sequence==1,'stopid'].empty:
                #IndexError: index 0 is out of bounds for axis 0 with size 0
                start = str(df.loc[df.stop_sequence==1,'stopid'].values[0]).strip()
                dest = str(df.loc[df.stop_sequence==1,'stop_headsign'].values[0]).strip()
                end = str(df.loc[df.stop_sequence.idxmax(),'stopid']).strip()
                save_obj(df[['stopid','shape_dist_traveled']].set_index('stopid')['shape_dist_traveled'].to_dict(), \
                         'stopDicts/'+str(line)+'_'+start+'_'+ end +'_'+ dest)

In [48]:
getStops('stop_timeCC')

'getStops'  349834.00 ms

In [7]:
def createStopDict(routeDf, name):
    stops = routeDf[['stop_sequence','stopid']]
    stops = stops.reset_index(drop = True)
    stops = stops.sort_values('stop_sequence')
    with open('obj/'+ name + '.pkl', 'wb') as f:
        pickle.dump(stops.stopid.tolist(), f, pickle.HIGHEST_PROTOCOL)
    return

In [3]:
def checkstopSeq(routeDf):
    if routeDf.stopSeq.iloc[0] != 1:
        print('Starting stop is not 1')
        return False
    else:
        for i in routeDf.stopSeq:
            if routeDf.stopSeq.iloc[i+1] - routeDf.stopSeq.iloc[i] == 1:
                pass
                if routeDf.stopSeq.iloc[i+1] == routeDf.stopSeq.iloc[-1]:
                    break
            else:
                return False
            if routeDf.stopSeq.is_monotonic_increasing == True:
                return True
            elif routeDf.stopSeq.is_monotonic_increasing == False:
                return False
            else:
                return 'Error in monotonic method'

In [ ]:
#Now we have the dictionary pickle that contains stopid and distance, we can use this to add features.

# The functions for data preparation is ready above, time to build functions to train models. :)

In [99]:
from sklearn.preprocessing import StandardScaler
@timeit
def prepare(df, identifier, Xcol=['progrnumber','plannedtime','rain','weekday','distance','em','mp','lm','md','ap','ev','ln',
                                  'temp','m2f','sat','ucdSchoolTerm'], y='tripTravelTime', split=0.7):
    '''
    This function will take a dataframe, Prepare it for a neural network model.
    Export scaler file for later use.
    Xcol: A list of columns to train model
    y: target feature
    split: split percentage. By default 0.7/0.3
    '''
        
    X = df[Xcol]
    split = int(df.shape[0]*0.7)
    X_train, X_test = X[:split], X[split:]
    y_train, y_test = df[y][:split], df[y][split:]
    scaler = StandardScaler() 
    scaler.fit(X_train)

    #How to name it?
    save_obj(scaler,'scalers/'+identifier[0]+'_'+identifier[1]+'_'+identifier[2]+'_scaler')

    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)
    return X_train, X_test, y_train, y_test

In [104]:
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error
@timeit
def train(X_train, X_test, y_train, y_test, identifier):
    '''
    train neural network model
    evaluate it.
    '''
    regr = MLPRegressor()
    regr.fit(X_train, y_train)
    
    y_pred = regr.predict(X_test)
    
    if mean_absolute_error(y_test, y_pred) <= 300: #Model's MAE smaller than 5mins
        save_obj(regr,'models/'+identifier[0]+'_'+identifier[1]+'_'+identifier[2]+'_model')
        print('MAE:',mean_absolute_error(y_test, y_pred))
    else:
        print("Unqualified route:",identifier)

In [103]:
testdf, id = dataPreparation('Test/leavetimes/39A_41l')
X_train, X_test, y_train, y_test = prepare(testdf, id)
train(X_train, X_test, y_train, y_test,id)

'dataPreparation'  1216.35 ms
'prepare'  6.85 ms
MAE: 218.80990780467775
'train'  4141.70 ms

/home/student/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:564: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [ ]:
for file in os.listdir('Test/leavetimes/'):
    print('Preparing data for',file)
    df, id = dataPreparation('Test/leavetimes/'+file)
    print('spliting dataset')
    X_train, X_test, y_train, y_test = prepare(df, id)
    print('training data for',id)
    train(X_train, X_test, y_train, y_test,id)

'dataPreparation'  308915.92 ms
'prepare'  1694.38 ms